/*
 * Device Tree Source for the r8a7795 SoC
 *
 * Copyright (C) 2015 Renesas Electronics Corp.
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

#include <dt-bindings/clock/r8a7795-clock.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "renesas,r8a7795";
	#address-cells = <2>;
	#size-cells = <2>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		/* 1core only at this point */
		a57_0: cpu@0 {
			compatible = "arm,cortex-a57", "arm,armv8";
			reg = <0x0>;
			device_type = "cpu";
		};
	};

	extal_clk: extal_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <0>;
	};

	soc {
		compatible = "simple-bus";
		interrupt-parent = <&gic>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		gic: interrupt-controller@0xf1010000 {
			compatible = "arm,gic-400";
			#interrupt-cells = <3>;
			#address-cells = <0>;
			interrupt-controller;
			reg = <0x0 0xf1010000 0 0x1000>,
			      <0x0 0xf1020000 0 0x2000>;
			interrupts = <GIC_PPI 9
					(GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_HIGH)>;
		};

		timer {
			compatible = "arm,armv8-timer";
			interrupts = <GIC_PPI 13
					(GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_LOW)>,
				     <GIC_PPI 14
					(GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_LOW)>,
				     <GIC_PPI 11
					(GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_LOW)>,
				     <GIC_PPI 10
					(GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_LOW)>;
		};

		clock {
			#address-cells = <2>;
			#size-cells = <2>;
			#clock-cells = <1>;
			ranges;

			zt_clk: zt {
				compatible = "fixed-factor-clock";
				clocks = <&cpg_clocks R8A7795_CLK_PLL1>;
				#clock-cells = <0>;
				clock-div = <4>;
				clock-mult = <1>;
			};

			ztr_clk: ztr {
				compatible = "fixed-factor-clock";
				clocks = <&cpg_clocks R8A7795_CLK_PLL1>;
				#clock-cells = <0>;
				clock-div = <6>;
				clock-mult = <1>;
			};

			ztrd2_clk: ztrd2 {
				compatible = "fixed-factor-clock";
				clocks = <&cpg_clocks R8A7795_CLK_PLL1>;
				#clock-cells = <0>;
				clock-div = <12>;
				clock-mult = <1>;
			};

			zx_clk: zx {
				compatible = "fixed-factor-clock";
				clocks = <&cpg_clocks R8A7795_CLK_PLL1>;
				#clock-cells = <0>;
				clock-div = <2>;
				clock-mult = <1>;
			};

			s0_clk: s0 {
				compatible = "fixed-factor-clock";
				clocks = <&cpg_clocks R8A7795_CLK_PLL1>;
				#clock-cells = <0>;
				clock-div = <2>;
				clock-mult = <1>;
			};

			s0d1_clk: s0d1 {
				compatible = "fixed-factor-clock";
				clocks = <&s0_clk>;
				#clock-cells = <0>;
				clock-div = <1>;
				clock-mult = <1>;
			};

			s0d4_clk: s0d4 {
				compatible = "fixed-factor-clock";
				clocks = <&s0_clk>;
				#clock-cells = <0>;
				clock-div = <4>;
				clock-mult = <1>;
			};

			s1_clk: s1 {
				compatible = "fixed-factor-clock";
				clocks = <&cpg_clocks R8A7795_CLK_PLL1>;
				#clock-cells = <0>;
				clock-div = <3>;
				clock-mult = <1>;
			};

			s1d1_clk: s1d1 {
				compatible = "fixed-factor-clock";
				clocks = <&s1_clk>;
				#clock-cells = <0>;
				clock-div = <1>;
				clock-mult = <1>;
			};

			s1d2_clk: s1d2 {
				compatible = "fixed-factor-clock";
				clocks = <&s1_clk>;
				#clock-cells = <0>;
				clock-div = <2>;
				clock-mult = <1>;
			};

			s1d4_clk: s1d4 {
				compatible = "fixed-factor-clock";
				clocks = <&s1_clk>;
				#clock-cells = <0>;
				clock-div = <4>;
				clock-mult = <1>;
			};

			s2_clk: s2 {
				compatible = "fixed-factor-clock";
				clocks = <&cpg_clocks R8A7795_CLK_PLL1>;
				#clock-cells = <0>;
				clock-div = <4>;
				clock-mult = <1>;
			};

			s2d1_clk: s2d1 {
				compatible = "fixed-factor-clock";
				clocks = <&s2_clk>;
				#clock-cells = <0>;
				clock-div = <1>;
				clock-mult = <1>;
			};

			s2d2_clk: s2d2 {
				compatible = "fixed-factor-clock";
				clocks = <&s2_clk>;
				#clock-cells = <0>;
				clock-div = <2>;
				clock-mult = <1>;
			};

			s2d4_clk: s2d4 {
				compatible = "fixed-factor-clock";
				clocks = <&s2_clk>;
				#clock-cells = <0>;
				clock-div = <4>;
				clock-mult = <1>;
			};

			s3_clk: s3 {
				compatible = "fixed-factor-clock";
				clocks = <&cpg_clocks R8A7795_CLK_PLL1>;
				#clock-cells = <0>;
				clock-div = <6>;
				clock-mult = <1>;
			};

			s3d1_clk: s3d1 {
				compatible = "fixed-factor-clock";
				clocks = <&s3_clk>;
				#clock-cells = <0>;
				clock-div = <1>;
				clock-mult = <1>;
			};

			s3d2_clk: s3d2 {
				compatible = "fixed-factor-clock";
				clocks = <&s3_clk>;
				#clock-cells = <0>;
				clock-div = <2>;
				clock-mult = <1>;
			};

			s3d4_clk: s3d4 {
				compatible = "fixed-factor-clock";
				clocks = <&s3_clk>;
				#clock-cells = <0>;
				clock-div = <4>;
				clock-mult = <1>;
			};

			cl_clk: cl {
				compatible = "fixed-factor-clock";
				clocks = <&cpg_clocks R8A7795_CLK_PLL1>;
				#clock-cells = <0>;
				clock-div = <48>;
				clock-mult = <1>;
			};

			cpg_clocks: cpg_clocks@e6150000 {
				compatible = "renesas,r8a7795-cpg-clocks",
					     "renesas,rcar-gen3-cpg-clocks";
				reg = <0 0xe6150000 0 0x1000>;
				clocks = <&extal_clk>;
				clock-indices = <
					R8A7795_CLK_MAIN R8A7795_CLK_PLL0
					R8A7795_CLK_PLL1 R8A7795_CLK_PLL2
					R8A7795_CLK_PLL3 R8A7795_CLK_PLL4
				>;
				#power-domain-cells = <0>;
			};
		};
	};
};
