// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the Falcon CPU and BreakOut boards
 *
 * Copyright (C) 2020 Renesas Electronics Corp.
 */

/dts-v1/;
/* Reserved 1MB memory for boot loader secure area */
/memreserve/ 0x50000000 0x00100000;
#include "r8a779a0-falcon-cpu.dtsi"
#include "r8a779a0-falcon-csi-dsi.dtsi"
#include "r8a779a0-falcon-ethernet.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Renesas Falcon CPU and Breakout boards based on r8a779a0";
	compatible = "renesas,falcon-breakout", "renesas,falcon-cpu", "renesas,r8a779a0";

	aliases {
		ethernet0 = &avb0;
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x78000000>;
	};

	memory@500000000 {
		device_type = "memory";
		reg = <0x5 0x00000000 0x0 0x80000000>;
	};

	memory@600000000 {
		device_type = "memory";
		reg = <0x6 0x00000000 0x0 0x80000000>;
	};

	memory@700000000 {
		device_type = "memory";
		reg = <0x7 0x00000000 0x0 0x80000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma@58000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x58000000 0x0 0x18000000>;
			linux,cma-default;
		};

		/* device specific region for contiguous allocations */
		mmp_reserved: linux,multimedia@7f000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x7f000000 0x0 0x01000000>;
		};
	};

	mmngr {
		compatible = "renesas,mmngr";
		memory-region = <&mmp_reserved>;
	};

	mmngrbuf {
		compatible = "renesas,mmngrbuf";
	};

	dsi-con {
		compatible = "dsi-connector";

		port {
			dsi_con_out: endpoint {
			remote-endpoint = <&sn65dsi86_out>;
			};
		};
	};
};

&avb0 {
	pinctrl-0 = <&avb0_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy0>;
	tx-internal-delay-ps = <2000>;
	status = "okay";

	phy0: ethernet-phy@0 {
		rxc-skew-ps = <1500>;
		reg = <0>;
		interrupt-parent = <&gpio4>;
		interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio4 15 GPIO_ACTIVE_LOW>;
	};
};

&avb1 {
	pinctrl-0 = <&avb1_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy1>;
	phy-mode = "rgmii-txid";

	phy1: ethernet-phy@1 {
		rxc-skew-ps = <1500>;
		reg = <0>;
		interrupt-parent = <&gpio5>;
		interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio5 15 GPIO_ACTIVE_LOW>;
	};
};

&avb2 {
	pinctrl-0 = <&avb2_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy2>;
	phy-mode = "rgmii-txid";

	phy2: ethernet-phy@2 {
		rxc-skew-ps = <1500>;
		reg = <0>;
		interrupt-parent = <&gpio6>;
		interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio6 15 GPIO_ACTIVE_LOW>;
	};
};

&avb3 {
	pinctrl-0 = <&avb3_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy3>;
	phy-mode = "rgmii-txid";

	phy3: ethernet-phy@3{
		rxc-skew-ps = <1500>;
		reg = <0>;
		interrupt-parent = <&gpio7>;
		interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio7 15 GPIO_ACTIVE_LOW>;
	};
};

&avb4 {
	pinctrl-0 = <&avb4_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy4>;
	phy-mode = "rgmii-txid";

	phy4: ethernet-phy@4 {
		rxc-skew-ps = <1500>;
		reg = <0>;
		interrupt-parent = <&gpio8>;
		interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio8 15 GPIO_ACTIVE_LOW>;
	};
};

&avb5 {
	pinctrl-0 = <&avb5_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy5>;
	phy-mode = "rgmii-txid";

	phy5: ethernet-phy@5 {
		rxc-skew-ps = <1500>;
		reg = <0>;
		interrupt-parent = <&gpio9>;
		interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio9 15 GPIO_ACTIVE_LOW>;
	};
};

&rpc {
	pinctrl-0 = <&qspi0_pins>;
	pinctrl-names = "default";

	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			boot_partition@0 {
				reg = <0x00000000 0xC40000>;
				read-only;
			};
			user@00C40000 {
				reg = <0x00C40000 0x33C0000>;
			};
		};
	};
};

&tpu {
	pinctrl-0 = <&tpu_pin>;
	pinctrl-names = "default";

	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	eeprom@51 {
		compatible = "rohm,br24g01", "atmel,24c01";
		label = "breakout-board";
		reg = <0x51>;
		pagesize = <8>;
	};

	io_expander2: gpio@21 {
		compatible = "onnn,pca9654";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	io_expander3: gpio@22 {
		compatible = "onnn,pca9654";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	io_expander4: gpio@23 {
		compatible = "onnn,pca9654";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	sn65dsi86@2c {
		compatible = "ti,sn65dsi86";
		reg = <0x2c>;
		dp-connector;
		clocks = <&ref_clk>;
		clock-names = "refclk";
		no-use-gpio;
		no-use-scramble;
		hpd-poll;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				sn65dsi86_in: endpoint {
					remote-endpoint = <&dsi0_out>;
				};
			};

			port@1 {
				reg = <1>;
				sn65dsi86_out: endpoint {
					remote-endpoint = <&dsi_con_out>;
				};
			};
		};
	};

	gmsl0: gmsl-deserializer@49 {
		gpio-controller;
		#gpio-cells = <2>;

		compatible = "maxim,max96712";
		reg = <0x49>, <0x01>, <0x02>, <0x03>, <0x04>;
		gpios = <&io_expander2 0 GPIO_ACTIVE_HIGH>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				max96712_in0: endpoint {
				};
			};

			port@1 {
				reg = <1>;
				max96712_in1: endpoint {
				};
			};

			port@2 {
				reg = <2>;
				max96712_in2: endpoint {
				};
			};

			port@3 {
				reg = <3>;
				max96712_in3: endpoint {
				};
			};

			port@4 {
				reg = <4>;
				max96712_out0: endpoint {
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&csi40_in>;
				};
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				status = "disabled";
			};

			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;

				status = "disabled";
			};

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;

				status = "disabled";
			};

			i2c@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;

				status = "disabled";
			};
		};
	};

	gmsl1: gmsl-deserializer@4b {
		gpio-controller;
		#gpio-cells = <2>;

		compatible = "maxim,max96712";
		reg = <0x4b>, <0x05>, <0x06>, <0x07>, <0x08>;
		gpios = <&io_expander3 0 GPIO_ACTIVE_HIGH>;
		maxim,invert_phy-pol;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				max96712_in4: endpoint {
				};
			};

			port@1 {
				reg = <1>;
				max96712_in5: endpoint {
				};
			};

			port@2 {
				reg = <2>;
				max96712_in6: endpoint {
				};
			};

			port@3 {
				reg = <3>;
				max96712_in7: endpoint {
				};
			};

			port@4 {
				reg = <4>;
				max96712_out1: endpoint {
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&csi42_in>;
				};
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				status = "disabled";
			};

			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;

				status = "disabled";
			};

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;

				status = "disabled";
			};

			i2c@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;

				status = "disabled";
			};
		};
	};

	gmsl2: gmsl-deserializer@6b {
		gpio-controller;
		#gpio-cells = <2>;

		compatible = "maxim,max96712";
		reg = <0x6b>, <0x09>, <0x0a>, <0x0b>, <0x0c>;
		gpios = <&io_expander4 0 GPIO_ACTIVE_HIGH>;
		maxim,invert_phy-pol;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				max96712_in8: endpoint {
				};
			};

			port@1 {
				reg = <1>;
				max96712_in9: endpoint {
				};
			};

			port@2 {
				reg = <2>;
				max96712_in10: endpoint {
				};
			};

			port@3 {
				reg = <3>;
				max96712_in11: endpoint {
				};
			};

			port@4 {
				reg = <4>;
				max96712_out2: endpoint {
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&csi43_in>;
				};
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				status = "disabled";
			};

			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;

				status = "disabled";
			};

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;

				status = "disabled";
			};

			i2c@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;

				status = "disabled";
			};
		};
	};
};

&cmt0 {
	status = "okay";
};

&cmt1 {
	status = "okay";
};

&cmt2 {
	status = "okay";
};

&cmt3 {
	status = "okay";
};

&rwdt {
	timeout-sec = <60>;
	status = "okay";
};

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	/* Please use exclusively to the hscif0 node */
	status = "okay";
};

&hscif0 {
	pinctrl-0 = <&hscif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	/* Please use exclusively to the scif0 node */
	/* status = "okay"; */
};

&scif_clk {
	pinctrl-0 = <&scif_clk_pins>;
	pinctrl-names = "default";

	clock-frequency = <24000000>;
	status = "okay";
};

&ref_clk {
	clock-frequency = <38400000>;
};

&pfc {
	avb0_pins: avb0 {
		mux {
			groups = "avb0_link", "avb0_mdio", "avb0_rgmii",
				 "avb0_txcrefclk";
			function = "avb0";
		};

		pins_mdio {
			groups = "avb0_mdio";
			drive-strength = <21>;
		};

		pins_mii {
			groups = "avb0_rgmii";
			drive-strength = <21>;
		};

	};

	avb1_pins: avb1 {
		mux {
			groups = "avb1_link", "avb1_mdio", "avb1_rgmii",
				 "avb1_txcrefclk";
			function = "avb1";
		};
	};

	avb2_pins: avb2 {
		mux {
			groups = "avb2_link", "avb2_mdio", "avb2_rgmii",
				 "avb2_txcrefclk";
			function = "avb2";
		};
	};

	avb3_pins: avb3 {
		mux {
			groups = "avb3_link", "avb3_mdio", "avb3_rgmii",
				 "avb3_txcrefclk";
			function = "avb3";
		};
	};

	avb4_pins: avb4 {
		mux {
			groups = "avb4_link", "avb4_mdio", "avb4_rgmii",
				 "avb4_txcrefclk";
			function = "avb4";
		};
	};

	avb5_pins: avb5 {
		mux {
			groups = "avb5_link", "avb5_mdio", "avb5_rgmii",
				 "avb5_txcrefclk";
			function = "avb5";
		};
	};

	i2c0_pins: i2c0 {
		groups = "i2c0";
		function = "i2c0";
	};

	i2c1_pins: i2c1 {
		groups = "i2c1";
		function = "i2c1";
	};

	qspi0_pins: qspi0 {
		groups = "qspi0_ctrl", "qspi0_data4";
		function = "qspi0";
	};

	tpu_pin: tpu {
		groups = "tpu_to1";
		function = "tpu";
	};

	scif0_pins: scif0 {
		groups = "scif0_data", "scif0_ctrl";
		function = "scif0";
	};

	hscif0_pins: hscif0 {
		groups = "hscif0_data", "hscif0_ctrl";
		function = "hscif0";
	};

	scif_clk_pins: scif_clk {
		groups = "scif_clk";
		function = "scif_clk";
	};

	canfd0_pins: canfd0 {
		groups = "canfd0_data";
		function = "canfd0";
	};

	canfd1_pins: canfd1 {
		groups = "canfd1_data";
		function = "canfd1";
	};

	canfd2_pins: canfd2 {
		groups = "canfd2_data";
		function = "canfd2";
	};

	canfd3_pins: canfd3 {
		groups = "canfd3_data";
		function = "canfd3";
	};

	canfd4_pins: canfd4 {
		groups = "canfd4_data";
		function = "canfd4";
	};

	canfd5_pins: canfd5 {
		groups = "canfd5_data";
		function = "canfd5";
	};

	canfd6_pins: canfd6 {
		groups = "canfd6_data";
		function = "canfd6";
	};

	canfd7_pins: canfd7 {
		groups = "canfd7_data";
		function = "canfd7";
	};

	pcie0_pins: pcie0 {
		groups = "pcie0_clkreq_n";
		function = "pcie";
	};

	pcie1_pins: pcie1 {
		groups = "pcie1_clkreq_n";
		function = "pcie";
	};

	pcie2_pins: pcie2 {
		groups = "pcie2_clkreq_n";
		function = "pcie";
	};

	pcie3_pins: pcie3 {
		groups = "pcie3_clkreq_n";
		function = "pcie";
	};
};

&tmu0 {
	status = "okay";
};

&tmu1 {
	status = "okay";
};

&tmu2 {
	status = "okay";
};

&tmu3 {
	status = "okay";
};

&tmu4 {
	status = "okay";
};

&pcie_bus_clk {
	clock-frequency = <100000000>;
};

&pciec0 {
	status = "okay";
	pinctrl-0 = <&pcie0_pins>;
	pinctrl-names = "default";
};

&pciec1 {
	status = "disabled";
	pinctrl-0 = <&pcie1_pins>;
	pinctrl-names = "default";
};

&pciec2 {
	status = "disabled";
	pinctrl-0 = <&pcie2_pins>;
	pinctrl-names = "default";
};

&pciec3 {
	status = "disabled";
	pinctrl-0 = <&pcie3_pins>;
	pinctrl-names = "default";
};

&du {
	status = "okay";
};

&dsi0 {
	status = "okay";

	clocks = <&cpg CPG_MOD 415>,
			 <&cpg CPG_CORE R8A779A0_CLK_DSI>,
			 <&extal_clk>;
	clock-names = "fck", "dsi", "extal";

	ports {
		port@1 {
			endpoint {
				remote-endpoint = <&sn65dsi86_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&csi40 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi40_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&max96712_out0>;
			};
		};
	};
};

&csi42 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi42_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&max96712_out1>;
			};
		};
	};
};

&csi43 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi43_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&max96712_out2>;
			};
		};
	};
};

&vin00 {
	status = "okay";
};

&vin01 {
	status = "okay";
};

&vin02 {
	status = "okay";
};

&vin03 {
	status = "okay";
};

&vin20 {
	status = "okay";
};

&vin21 {
	status = "okay";
};

&vin22 {
	status = "okay";
};

&vin23 {
	status = "okay";
};

&vin30 {
	status = "okay";
};

&vin31 {
	status = "okay";
};

&vin32 {
	status = "okay";
};

&vin33 {
	status = "okay";
};

/* FAKRA Overlay */
#include "falcon-fakra.dtsi"

&canfd {
	pinctrl-0 = <&canfd0_pins>, <&canfd1_pins>, <&canfd2_pins>,
		<&canfd3_pins>, <&canfd4_pins>, <&canfd5_pins>,
		<&canfd6_pins>, <&canfd7_pins>;
		pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};

	channel2 {
		status = "okay";
	};

	channel3 {
		status = "okay";
	};

	channel4 {
		status = "okay";
	};

	channel5 {
		status = "okay";
	};

	channel6 {
		status = "okay";
	};

	channel7 {
		status = "okay";
	};
};
