// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the Condor board
 *
 * Copyright (C) 2020 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r8a779a0.dtsi"

/ {
	model = "Renesas Falcon board based on r8a779a0";
	compatible = "renesas,falcon", "renesas,r8a779a0";

	aliases {
		/* T.B.D. */
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&extal_clk {
	clock-frequency = <16666666>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&pfc {
	i2c0_pins: i2c0 {
		groups = "i2c0";
		function = "i2c0";
	};

	i2c1_pins: i2c1 {
		groups = "i2c1";
		function = "i2c1";
	};
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;
};
