// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source fragment for UIO support on the R-Car X5H (R8A78000) SoC
 *
 * Copyright (C) 2025 Renesas Electronics Corp.
 */

#include <dt-bindings/ipmmu/rcar-ipmmu.h>
#include "r8a78000.dtsi"

/ {
	compatible = "renesas,r8a78000", "renesas,r8a78000-uio";

	soc: soc {
		imrlx7_ims00: ims@c1800000{
			compatible = "generic-uio";
			reg = <0 0xc1800000 0 0x10000>;
			interrupts = <GIC_SPI 606 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMN_IMS00>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM0>;
			linux,uio-name = "ims_00";
		};

		imrlx7_ims01: ims@c1810000{
			compatible = "generic-uio";
			reg = <0 0xc1810000 0 0x10000>;
			interrupts = <GIC_SPI 607 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMN_IMS01>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM0>;
			linux,uio-name = "ims_01";
		};

		imrlx7_ims02: ims@c1820000{
			compatible = "generic-uio";
			reg = <0 0xc1820000 0 0x10000>;
			interrupts = <GIC_SPI 608 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMN_IMS02>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM1>;
			linux,uio-name = "ims_02";
		};

		imrlx7_ims03: ims@c1830000{
			compatible = "generic-uio";
			reg = <0 0xc1830000 0 0x10000>;
			interrupts = <GIC_SPI 609 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMN_IMS03>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM1>;
			linux,uio-name = "ims_03";
		};

		imrlx7_imr00: imr@c1900000 {
			compatible = "generic-uio";
			reg = <0 0xc1900000 0 0x10000>;
			interrupts = <GIC_SPI 614 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMN_IMR000>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM0>;
			linux,uio-name = "imr_00";
		};

		imrlx7_imr01: imr@c1910000 {
			compatible = "generic-uio";
			reg = <0 0xc1910000 0 0x10000>;
			interrupts = <GIC_SPI 615 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMN_IMR001>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM1>;
			linux,uio-name = "imr_01";
		};

		imrlx7_ims10: ims@c1c00000 {
			compatible = "generic-uio";
			reg = <0 0xc1c00000 0 0x10000>;
			interrupts = <GIC_SPI 610 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMS_IMS00>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM1>;
			linux,uio-name = "ims_10";
		};

		imrlx7_ims11: ims@c1c10000 {
			compatible = "generic-uio";
			reg = <0 0xc1c10000 0 0x10000>;
			interrupts = <GIC_SPI 611 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMS_IMS01>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM2>;
			linux,uio-name = "ims_11";
		};

		imrlx7_ims12: ims@c1c20000 {
			compatible = "generic-uio";
			reg = <0 0xc1c20000 0 0x10000>;
			interrupts = <GIC_SPI 612 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMS_IMS02>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM3>;
			linux,uio-name = "ims_12";
		};

		imrlx7_ims13: ims@c1c30000 {
			compatible = "generic-uio";
			reg = <0 0xc1c30000 0 0x10000>;
			interrupts = <GIC_SPI 613 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMS_IMS03>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM3>;
			linux,uio-name = "ims_13";
		};

		imrlx7_imr10: imr@c1d00000 {
			compatible = "generic-uio";
			reg = <0 0xc1d00000 0 0x10000>;
			interrupts = <GIC_SPI 616 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMS_IMR000>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM2>;
			linux,uio-name = "imr_10";
		};

		imrlx7_imr11: imr@c1d10000 {
			compatible = "generic-uio";
			reg = <0 0xc1d10000 0 0x10000>;
			interrupts = <GIC_SPI 617 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_IMS_IMR001>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_IM3>;
			linux,uio-name = "imr_11";
		};

		cisp0: cisp@c4000000 {
			compatible = "generic-uio";
			reg = <0 0xc4000000 0 0x100000>;
			interrupts = <GIC_SPI 502 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_ISP0>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO0>;
			linux,uio-name = "cisp_00";
		};

		cisp1: cisp@c4100000 {
			compatible = "generic-uio";
			reg = <0 0xc4100000 0 0x100000>;
			interrupts = <GIC_SPI 503 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_ISP1>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO1>;
			linux,uio-name = "cisp_01";
		};

		cisp2: cisp@c4200000 {
			compatible = "generic-uio";
			reg = <0 0xc4200000 0 0x100000>;
			interrupts = <GIC_SPI 504 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_ISP2>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO2>;
			linux,uio-name = "cisp_02";
		};

		cisp3: cisp@c4300000 {
			compatible = "generic-uio";
			reg = <0 0xc4300000 0 0x100000>;
			interrupts = <GIC_SPI 505 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_ISP3>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO3>;
			linux,uio-name = "cisp_03";
		};

		tisp0: tisp@c4700000 {
			compatible = "generic-uio";
			reg = <0 0xc4700000 0 0x20000>;
			interrupts = <GIC_SPI 506 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_ISPCS0>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO0>;
			linux,uio-name = "tisp_00";
		};

		tisp1: tisp@c4720000 {
			compatible = "generic-uio";
			reg = <0 0xc4720000 0 0x20000>;
			interrupts = <GIC_SPI 507 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_ISPCS1>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO1>;
			linux,uio-name = "tisp_01";
		};

		tisp2: tisp@c4740000 {
			compatible = "generic-uio";
			reg = <0 0xc4740000 0 0x20000>;
			interrupts = <GIC_SPI 508 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_ISPCS2>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO2>;
			linux,uio-name = "tisp_02";
		};

		tisp3: tisp@c4760000 {
			compatible = "generic-uio";
			reg = <0 0xc4760000 0 0x20000>;
			interrupts = <GIC_SPI 509 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_ISPCS3>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO3>;
			linux,uio-name = "tisp_03";
		};
		vspx0: vspx@c4880000 {
			compatible = "generic-uio";
			reg = <0 0xc4880000 0 0x4000>;
			interrupts = <GIC_SPI 647 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VSPX0>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO0>;
			linux,uio-name = "vspx_00";
		};

		vspx1: vspx@c4884000 {
			compatible = "generic-uio";
			reg = <0 0xc4884000 0 0x4000>;
			interrupts = <GIC_SPI 648 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VSPX1>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO1>;
			linux,uio-name = "vspx_01";
		};

		vspx2: vspx@c4888000 {
			compatible = "generic-uio";
			reg = <0 0xc4888000 0 0x4000>;
			interrupts = <GIC_SPI 649 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VSPX2>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO2>;
			linux,uio-name = "vspx_02";
		};

		vspx3: vspx@c488c000 {
			compatible = "generic-uio";
			reg = <0 0xc488c000 0 0x4000>;
			interrupts = <GIC_SPI 650 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VSPX3>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO3>;
			linux,uio-name = "vspx_03";
		};

		fcpvx0: fcpvx@c48a4000 {
			compatible = "generic-uio";
			reg = <0 0xc48a4000 0 0x1000>;
			clocks = <&scmi_clk X5H_CLOCK_ID_FCPVX0>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO0>;
			linux,uio-name = "fcpvx_00";
		};

		fcpvx1: fcpvx@c48a5000 {
			compatible = "generic-uio";
			reg = <0 0xc48a5000 0 0x1000>;
			clocks = <&scmi_clk X5H_CLOCK_ID_FCPVX1>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO1>;
			linux,uio-name = "fcpvx_01";
		};

		fcpvx2: fcpvx@c48a6000 {
			compatible = "generic-uio";
			reg = <0 0xc48a6000 0 0x1000>;
			clocks = <&scmi_clk X5H_CLOCK_ID_FCPVX2>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO2>;
			linux,uio-name = "fcpvx_02";
		};

		fcpvx3: fcpvx@c48a7000 {
			compatible = "generic-uio";
			reg = <0 0xc48a7000 0 0x1000>;
			clocks = <&scmi_clk X5H_CLOCK_ID_FCPVX3>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VIO3>;
			linux,uio-name = "fcpvx_03";
		};

		vcp5_0: dspss@c3000000 {
			compatible = "generic-uio";
			reg = <0 0xc3000000 0 0x10000>;
			interrupts = <GIC_SPI 651 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_VCP5X0>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCN>;
			linux,uio-name = "vcp5_00";
		};

		vcp5_00_01 {
			compatible = "generic-uio";
			reg = <0 0xc3000000 0 0x10000>;
			interrupts = <GIC_SPI 655 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_VCP5X0>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCN>;
			linux,uio-name = "irq_vcp5_00_01";
		};

		vcp5_1: dspss@c3002000 {
			compatible = "generic-uio";
			reg = <0 0xc3002000 0 0x10000>;
			interrupts = <GIC_SPI 652 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_VCP5X0>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCN>;
			linux,uio-name = "vcp5_01";
		};

		vcp5_01_01 {
			compatible = "generic-uio";
			reg = <0 0xc3002000 0 0x10000>;
			interrupts = <GIC_SPI 656 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_VCP5X0>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCN>;
			linux,uio-name = "irq_vcp5_01_01";
		};

		vcp5_2: dspss@c3400000 {
			compatible = "generic-uio";
			reg = <0 0xc3400000 0 0x10000>;
			interrupts = <GIC_SPI 653 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_VCP5X1>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCS>;
			linux,uio-name = "vcp5_02";
		};

		vcp5_02_01 {
			compatible = "generic-uio";
			reg = <0 0xc3400000 0 0x10000>;
			interrupts = <GIC_SPI 657 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_VCP5X1>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCS>;
			linux,uio-name = "irq_vcp5_02_01";
		};

		vcp5_3: dspss@c3402000 {
			compatible = "generic-uio";
			reg = <0 0xc3402000 0 0x10000>;
			interrupts = <GIC_SPI 654 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_VCP5X1>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCS>;
			linux,uio-name = "vcp5_03";
		};

		vcp5_03_01 {
			compatible = "generic-uio";
			reg = <0 0xc3402000 0 0x10000>;
			interrupts = <GIC_SPI 658 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_VCP5X1>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCS>;
			linux,uio-name = "irq_vcp5_03_01";
		};

		fcpc0: fcpc@c3008000 {
			compatible = "generic-uio";
			reg = <0 0xc3008000 0 0x1000>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_FCPCS0>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCN>;
			linux,uio-name = "fcpc_00";
		};

		fcpc1: fcpc@c3009000 {
			compatible = "generic-uio";
			reg = <0 0xc3009000 0 0x1000>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_FCPCS0>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCN>;
			linux,uio-name = "fcpc_01";
		};

		fcpc2: fcpc@c3408000 {
			compatible = "generic-uio";
			reg = <0 0xc3408000 0 0x1000>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_FCPCS1>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCS>;
			linux,uio-name = "fcpc_02";
		};

		fcpc3: fcpc@c3409000 {
			compatible = "generic-uio";
			reg = <0 0xc3409000 0 0x1000>;
			clocks = <&scmi_clk X5H_CLOCK_ID_VIPN_FCPCS1>;
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_VCS>;
			linux,uio-name = "fcpc_03";
		};

		rsipe0: rsipe@19300000 {
			compatible = "generic-uio";
			reg = <0 0x19300000 0 0x8000>;
			interrupts = <GIC_SPI 4187 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC0>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC0>;
			linux,uio-name = "rsip_e_00";
		};

		rsipe1: rsipe@19308000 {
			compatible = "generic-uio";
			reg = <0 0x19308000 0 0x8000>;
			interrupts = <GIC_SPI 4188 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC1>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC1>;
			linux,uio-name = "rsip_e_01";
		};

		rsipe2: rsipe@19310000 {
			compatible = "generic-uio";
			reg = <0 0x19310000 0 0x8000>;
			interrupts = <GIC_SPI 4189 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC2>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC2>;
			linux,uio-name = "rsip_e_02";
		};

		rsipe3: rsipe@19318000 {
			compatible = "generic-uio";
			reg = <0 0x19318000 0 0x8000>;
			interrupts = <GIC_SPI 4190 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC3>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC3>;
			linux,uio-name = "rsip_e_03";
		};

		rsipe4: rsipe@19320000 {
			compatible = "generic-uio";
			reg = <0 0x19320000 0 0x8000>;
			interrupts = <GIC_SPI 4191 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC4>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC4>;
			linux,uio-name = "rsip_e_04";
		};

		rsipe5: rsipe@19328000 {
			compatible = "generic-uio";
			reg = <0 0x19328000 0 0x8000>;
			interrupts = <GIC_SPI 4192 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC5>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC5>;
			linux,uio-name = "rsip_e_05";
		};

		rsipe6: rsipe@19330000 {
			compatible = "generic-uio";
			reg = <0 0x19330000 0 0x8000>;
			interrupts = <GIC_SPI 4193 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC6>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC6>;
			linux,uio-name = "rsip_e_06";
		};

		rsipe7: rsipe@19338000 {
			compatible = "generic-uio";
			reg = <0 0x19338000 0 0x8000>;
			interrupts = <GIC_SPI 4194 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC7>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC7>;
			linux,uio-name = "rsip_e_07";
		};

		rsipe8: rsipe@19340000 {
			compatible = "generic-uio";
			reg = <0 0x19340000 0 0x8000>;
			interrupts = <GIC_SPI 4195 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC8>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC8>;
			linux,uio-name = "rsip_e_08";
		};

		rsipe9: rsipe@19348000 {
			compatible = "generic-uio";
			reg = <0 0x19348000 0 0x8000>;
			interrupts = <GIC_SPI 4196 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC9>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC9>;
			linux,uio-name = "rsip_e_09";
		};

		rsipe10: rsipe@19350000 {
			compatible = "generic-uio";
			reg = <0 0x19350000 0 0x8000>;
			interrupts = <GIC_SPI 4197 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC10>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC10>;
			linux,uio-name = "rsip_e_10";
		};

		rsipe11: rsipe@19358000 {
			compatible = "generic-uio";
			reg = <0 0x19358000 0 0x8000>;
			interrupts = <GIC_SPI 4198 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC11>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC11>;
			linux,uio-name = "rsip_e_11";
		};

		rsipe12: rsipe@19360000 {
			compatible = "generic-uio";
			reg = <0 0x19360000 0 0x8000>;
			interrupts = <GIC_SPI 4199 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC12>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC12>;
			linux,uio-name = "rsip_e_12";
		};

		rsipe13: rsipe@19368000 {
			compatible = "generic-uio";
			reg = <0 0x19368000 0 0x8000>;
			interrupts = <GIC_SPI 4200 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC13>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC13>;
			linux,uio-name = "rsip_e_13";
		};

		rsipe14: rsipe@19370000 {
			compatible = "generic-uio";
			reg = <0 0x19370000 0 0x8000>;
			interrupts = <GIC_SPI 4201 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC14>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC14>;
			linux,uio-name = "rsip_e_14";
		};

		rsipe15: rsipe@19378000 {
			compatible = "generic-uio";
			reg = <0 0x19378000 0 0x8000>;
			interrupts = <GIC_SPI 4202 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC15>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC15>;
			linux,uio-name = "rsip_e_15";
		};

		rsipe16: rsipe@19380000 {
			compatible = "generic-uio";
			reg = <0 0x19380000 0 0x8000>;
			interrupts = <GIC_SPI 4203 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC16>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC16>;
			linux,uio-name = "rsip_e_16";
		};

		rsipe17: rsipe@19388000 {
			compatible = "generic-uio";
			reg = <0 0x19388000 0 0x8000>;
			interrupts = <GIC_SPI 4204 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC17>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC17>;
			linux,uio-name = "rsip_e_17";
		};

		rsipe18: rsipe@19390000 {
			compatible = "generic-uio";
			reg = <0 0x19390000 0 0x8000>;
			interrupts = <GIC_SPI 4205 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC18>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC18>;
			linux,uio-name = "rsip_e_18";
		};

		rsipe19: rsipe@19398000 {
			compatible = "generic-uio";
			reg = <0 0x19398000 0 0x8000>;
			interrupts = <GIC_SPI 4206 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&scmi_clk X5H_CLOCK_ID_CRAC19>;
			//power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_PD_APL>;
			resets = <&scmi_reset X5H_RESET_DOMAIN_ID_CRAC19>;
			linux,uio-name = "rsip_e_19";
		};

		rsipm: rsipm@18980000 {
			compatible = "generic-uio";
			reg = <0 0x18980000 0 0x10000>;
			linux,uio-name = "rsip_m_ts_cmd_00";
		};

		rsipm_reserved_mem3: rsipm@4d000000 {
			compatible = "generic-uio";
			reg = <0 0x4d000000 0 0x600000>;
			linux,uio-name = "rsip_m_shared_03";
		};

		rsipm_reserved_mem1: rsipm@185c0000 {
			compatible = "generic-uio";
			reg = <0 0x185c0000 0 0x40000>;
			linux,uio-name = "rsip_m_shared_01";
		};

		rsipm_reserved_mem2: rsipm@10100000 {
			compatible = "generic-uio";
			reg = <0 0x10100000 0 0x100000>;
			linux,uio-name = "rsip_m_shared_02";
		};

		rsipe00: rsipe@19440000 {
			compatible = "generic-uio";
			reg = <0 0x19440000 0 0x1000>;
			linux,uio-name = "rsip_e_stb_00";
		};
	};
};
