// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the R-Car V4M Gray Hawk CSI/DSI sub-board
 *
 * Copyright (C) 2023 Renesas Electronics Corp.
 */

#include <dt-bindings/media/video-interfaces.h>

/ {
	dsi-con0 {
		compatible = "dsi-connector";
		port {
			dsi_con_out0: endpoint {
				remote-endpoint = <&sn65dsi86_out0>;
			};
		};
	};
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	pca9654_a: gpio@21 {
		compatible = "onnn,pca9654";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	pca9654_b: gpio@22 {
		compatible = "onnn,pca9654";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	pca9654_c: gpio@27 {
		compatible = "onnn,pca9654";
		reg = <0x27>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	eeprom@52 {
		compatible = "rohm,br24g01", "atmel,24c01";
		label = "csi-dsi-sub-board-id";
		reg = <0x52>;
		pagesize = <8>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	sn65dsi86_0@2c {
		compatible = "ti,sn65dsi86";
		reg = <0x2c>;
		dp-connector;
		clocks = <&ref_clk>;
		clock-names = "refclk";
		no-use-gpio;
		no-use-scramble;
		hpd-poll;
		status = "okay";

		ports {
		#address-cells = <1>;
		#size-cells = <0>;

			port@0 {
				reg = <0>;
				sn65dsi86_in0: endpoint {
					remote-endpoint = <&dsi0_out>;
				};
			};

			port@1 {
				reg = <1>;
				sn65dsi86_out0: endpoint {
					remote-endpoint = <&dsi_con_out0>;
				};
			};
		};
	};

	gmsl0: gmsl-deserializer@4e {
		compatible = "maxim,max96724";
		reg = <0x4e>, <0x01>, <0x02>, <0x03>, <0x04>;
		gpios = <&pca9654_a 0 GPIO_ACTIVE_HIGH>;
		gpio-controller;
		#gpio-cells = <2>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				max96724_in0: endpoint {
				};
			};

			port@1 {
				reg = <1>;
				max96724_in1: endpoint {
				};
			};

			port@2 {
				reg = <2>;
				max96724_in2: endpoint {
				};
			};

			port@3 {
				reg = <3>;
				max96724_in3: endpoint {
				};
			};

			port@4 {
				reg = <4>;
				max96724_out0: endpoint {
					bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&csi40_in>;
				};
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				status = "disabled";
			};

			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;

				status = "disabled";
			};

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;

				status = "disabled";
			};

			i2c@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;

				status = "disabled";
			};
		};
	};

	gmsl1: gmsl-deserializer@4f {
		compatible = "maxim,max96724";
		reg = <0x4f>, <0x05>, <0x06>, <0x07>, <0x08>;
		gpios = <&pca9654_b 0 GPIO_ACTIVE_HIGH>;
		maxim,invert_phy-pol;
		gpio-controller;
		#gpio-cells = <2>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				max96724_in4: endpoint {
				};
			};

			port@1 {
				reg = <1>;
				max96724_in5: endpoint {
				};
			};

			port@2 {
				reg = <2>;
				max96724_in6: endpoint {
				};
			};

			port@3 {
				reg = <3>;
				max96724_in7: endpoint {
				};
			};

			port@4 {
				reg = <4>;
				max96724_out1: endpoint {
					bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&csi41_in>;
				};
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				status = "disabled";
			};

			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;

				status = "disabled";
			};

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;

				status = "disabled";
			};

			i2c@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;

				status = "disabled";
			};
		};
	};
};

&csi40 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi40_in: endpoint {
				bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&max96724_out0>;
			};
		};
	};
};

&csi41 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi41_in: endpoint {
				bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&max96724_out1>;
			};
		};
	};
};

&du {
	status = "okay";
};

&dsi0 {
	status = "okay";
	use-extal-clk;

	ports {
		port@1 {
			endpoint {
				remote-endpoint = <&sn65dsi86_in0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&isp0 {
	status = "okay";
};

&isp1 {
	status = "okay";
};

&vin00 {
	status = "okay";
};

&vin01 {
	status = "okay";
};

&vin02 {
	status = "okay";
};

&vin03 {
	status = "okay";
};

&vin08 {
	status = "okay";
};

&vin09 {
	status = "okay";
};

&vin10 {
	status = "okay";
};

&vin11 {
	status = "okay";
};

&ref_clk {
	clock-frequency = <38400000>;
};

/* FAKRA Overlay */
#include "gray-hawk-fakra.dtsi"
