/*
 * Device Tree Source for the Draak board
 *
 * Copyright (C) 2017 Renesas Electronics Corp.
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/dts-v1/;
#include "r8a77995.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Renesas Draak board based on r8a77995";
	compatible = "renesas,draak", "renesas,r8a77995";

	aliases {
		serial0 = &scif2;
		ethernet0 = &avb;
	};

	chosen {
		bootargs = "ignore_loglevel";
		stdout-path = "serial0:115200n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x18000000>;
	};

	vga-encoder {
		compatible = "adi,adv7123";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				adv7123_in: endpoint {
					remote-endpoint = <&du_out_rgb>;
				};
			};
			port@1 {
				reg = <1>;
				adv7123_out: endpoint {
					remote-endpoint = <&vga_in>;
				};
			};
		};
	};

	vga {
		compatible = "vga-connector";

		port {
			vga_in: endpoint {
				remote-endpoint = <&adv7123_out>;
			};
		};
	};

	lvds0-encoder {
		compatible = "thine,thc63lvdm83d";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				lvds0_enc_in: endpoint {
					remote-endpoint = <&du_out_lvds0>;
				};
			};
			port@1 {
				reg = <1>;
				lvds0_enc_out: endpoint {
					remote-endpoint = <&lvds0_in>;
				};
			};
		};
	};

	lvds0 {
		compatible = "lvds-connector", "panel-lvds";

		width-mm = <210>;
		height-mm = <158>;

		limit-frequency = <135000000>;

		data-mapping = "jeida-24";

		panel-timing {
			/* 1024x768 @60Hz */
			clock-frequency = <65000000>;
			hactive = <1024>;
			vactive = <768>;
			hsync-len = <136>;
			hfront-porch = <20>;
			hback-porch = <160>;
			vfront-porch = <3>;
			vback-porch = <29>;
			vsync-len = <6>;
		};

		port {
			lvds0_in: endpoint {
				remote-endpoint = <&lvds0_enc_out>;
			};
		};
	};

	lvds1-encoder {
		compatible = "thine,thc63lvdm83d";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				lvds1_enc_in: endpoint {
					remote-endpoint = <&du_out_lvds1>;
				};
			};
			port@1 {
				reg = <1>;
				lvds1_enc_out: endpoint {
					remote-endpoint = <&lvds1_in>;
				};
			};
		};
	};

	lvds1 {
		compatible = "lvds-connector", "panel-lvds";

		width-mm = <210>;
		height-mm = <158>;

		limit-frequency = <135000000>;

		data-mapping = "jeida-24";

		panel-timing {
			/* 1024x768 @60Hz */
			clock-frequency = <65000000>;
			hactive = <1024>;
			vactive = <768>;
			hsync-len = <136>;
			hfront-porch = <20>;
			hback-porch = <160>;
			vfront-porch = <3>;
			vback-porch = <29>;
			vsync-len = <6>;
		};

		port {
			lvds1_in: endpoint {
				remote-endpoint = <&lvds1_enc_out>;
			};
		};
	};

	hdmi0-out {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi0_connector_in: endpoint {
				remote-endpoint = <&adv7511_out>;
			};
		};
	};
};

&pfc {
	avb_pins: avb {
		groups = "avb0_td", "avb0_tx_ctl", "avb0_txc",
			 "avb0_rd", "avb0_rx_ctl", "avb0_rxc",
			 "avb0_txcrefclk", "avb0_mdc", "avb0_mdio";
		function = "avb0";
	};
};

&extal_clk {
	clock-frequency = <48000000>;
};

&du_dotclkin0 {
	clock-frequency = <74250000>;
};

&i2c0 {
	status = "okay";

	clock-frequency = <400000>;

	adv7511w: hdmi@39 {
		compatible = "adi,adv7511w";
		reg = <0x39>;
		interrupt-parent = <&gpio1>;
		interrupts = <28 IRQ_TYPE_EDGE_FALLING>;

		adi,input-depth = <8>;
		adi,input-colorspace = "rgb";
		adi,input-clock = "1x";
		adi,input-style = <1>;
		adi,input-justification = "evenly";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				adv7511w_in: endpoint {
					remote-endpoint = <&du_out_lvds0>;
				};
			};

			port@1 {
				reg = <1>;
				adv7511_out: endpoint {
					remote-endpoint = <&hdmi0_connector_in>;
				};
			};
		};
	};
};

&avb {
	pinctrl-0 = <&avb_pins>;
	pinctrl-names = "default";
	renesas,no-ether-link;
	phy-handle = <&phy0>;
	status = "okay";
	phy-gpios = <&gpio5 19 GPIO_ACTIVE_LOW>;
	phy-reset-gpios = <&gpio5 18 GPIO_ACTIVE_LOW>;

	phy0: ethernet-phy@0 {
		rxc-skew-ps = <1500>;
		rxdv-skew-ps = <420>; /* default */
		rxd0-skew-ps = <420>; /* default */
		rxd1-skew-ps = <420>; /* default */
		rxd2-skew-ps = <420>; /* default */
		rxd3-skew-ps = <420>; /* default */
		txc-skew-ps = <900>; /* default */
		txen-skew-ps = <420>; /* default */
		txd0-skew-ps = <420>; /* default */
		txd1-skew-ps = <420>; /* default */
		txd2-skew-ps = <420>; /* default */
		txd3-skew-ps = <420>; /* default */
		reg = <0>;
		interrupt-parent = <&gpio5>;
		interrupts = <20 IRQ_TYPE_LEVEL_LOW>;
	};
};

&scif2 {
	status = "okay";
};

&vin4 {
	status = "okay";
};

&du {
	status = "okay";

	/* update <du_dotclkin0/1> */
	clocks = <&cpg CPG_MOD 724>,
		 <&cpg CPG_MOD 723>,
		 <&cpg CPG_MOD 727>,
		 <&cpg CPG_MOD 727>,
		 <&du_dotclkin0>;

	backlight0-gpios = <&gpio2 31 GPIO_ACTIVE_HIGH>;/* LVDS0 */
	backlight1-gpios = <&gpio4 0 GPIO_ACTIVE_HIGH>;	/* LVDS1 */

	ports {
		port@0 {
			endpoint {
				remote-endpoint = <&adv7123_in>;
			};
		};
		port@1 {
			endpoint {
				remote-endpoint = <&adv7511w_in>;
			};
		};
	};
};
