// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the V3HSK GMSL2 Quad Videobox board on r8a77980
 *
 * Copyright (C) 2019-2020 Cogent Embedded, Inc.
 */

#include "r8a77980-v3hsk.dts"
#include <dt-bindings/gpio/gpio.h>
#include "camera.dtsi"

/ {
	model = "Renesas V3HSK 4ch GMSL2 Videobox board based on r8a77980";

	aliases {
		serial1 = &scif3;
		ethernet1 = &avb;
	};

	cs2300_ref_clk: cs2300_ref_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	leds {
		compatible = "gpio-leds";

		led0 {
			label = "board:status";
			gpios = <&gpio2 12 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
		};
	};

	mpcie_1v8: regulator2 {
		compatible = "regulator-fixed";
		regulator-name = "mPCIe 1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	mpcie_3v3: regulator3 {
		compatible = "regulator-fixed";
		regulator-name = "mPCIe 3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	common_3v3: regulator4 {
		compatible = "regulator-fixed";
		regulator-name = "main 3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	iio_hwmon: hwmon@1 {
		compatible = "iio-hwmon";
		io-channels = <&max2008x 0>, <&max2008x 2>, /* current */
			      <&max2008x 4>, <&max2008x 6>, /* voltage */
			      <&max2008x 8>, <&max2008x 9>; /* misc voltages */
		io-channel-names = "camera-0-Iout", "camera-1-Iout",
				   "camera-0-Vout", "camera-1-Vout",
				   "cameras-Vregulator", "cameras-3v3";
	};
};

&avb {
	pinctrl-0 = <&avb_pins>;
	pinctrl-names = "default";
	renesas,no-ether-link;
	phy-handle = <&avb_phy0>;
	status = "okay";
	phy-int-gpio = <&gpio1 17 GPIO_ACTIVE_LOW>;

	avb_phy0: eavb-phy@0 {
		rxc-skew-ps = <1500>;
		rxdv-skew-ps = <420>; /* default */
		rxd0-skew-ps = <420>; /* default */
		rxd1-skew-ps = <420>; /* default */
		rxd2-skew-ps = <420>; /* default */
		rxd3-skew-ps = <420>; /* default */
		txc-skew-ps = <900>; /* default */
		txen-skew-ps = <420>; /* default */
		txd0-skew-ps = <420>; /* default */
		txd1-skew-ps = <420>; /* default */
		txd2-skew-ps = <420>; /* default */
		txd3-skew-ps = <420>; /* default */
		reg = <3>;
		interrupt-parent = <&gpio1>;
		interrupts = <17 IRQ_TYPE_LEVEL_LOW>;
		max-speed = <1000>;
	};
};

&canfd {
	pinctrl-0 = <&canfd0_pins &canfd1_pins>;
	pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};
};

&csi40 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi40_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&deser_out0>;
			};
		};
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
	status = "okay";

	clock-frequency = <400000>;

	i2cswitch1: i2c-switch@74 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
		reset-gpios = <&gpio2 28 GPIO_ACTIVE_LOW>;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			gpio_exp_76: gpio@76 {
				compatible = "nxp,pca9539";
				reg = <0x76>;
				gpio-controller;
				#gpio-cells = <2>;

				cmr_pwr_en {
					gpio-hog;
					gpios = <3 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "CmrPEn";
				};
			};

			cs2300: clk_multiplier@4e {
				#clock-cells = <0>;
				compatible = "cirrus,cs2300-cp";
				reg = <0x4e>;
				clocks = <&cs2300_ref_clk>;
				clock-names = "clk_in";

				assigned-clocks = <&cs2300>;
				assigned-clock-rates = <25000000>;
			};

			dac_vcam: dac_vcam@60 {
				compatible = "microchip,mcp4725";
				reg = <0x60>;
				vdd-supply = <&common_3v3>;
			};

			max2008x: vcam_switch@28 {
				compatible = "maxim,max2008x";
				reg = <0x28>;
				#io-channel-cells = <1>;
				enable-gpios = <&gpio_exp_76 5 GPIO_ACTIVE_HIGH>;

				regulators {
					#address-cells = <1>;
					#size-cells = <0>;

					vdd_cam0: SW0 {
						reg = <0>;
						regulator-name = "Camera-0";
					};
					vdd_cam1: SW1 {
						reg = <1>;
						regulator-name = "Camera-1";
					};
					vdd_cam2: SW2 {
						reg = <2>;
						regulator-name = "Camera-2";
					};
					vdd_cam3: SW3 {
						reg = <3>;
						regulator-name = "Camera-3";
					};
				};
			};
		};

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;

			deser@29 {
				compatible = "maxim,max96712";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x29>;
				regs = <0x0c 0x0d 0x0e 0x0f>;
				clocks = <&cs2300>;
				clock-names = "ref_clk";
				shutdown-gpios = <&gpio_exp_76 1 GPIO_ACTIVE_LOW>;

				maxim,links-mipi-map = <2 2 2 2>;

				poc0-supply = <&vdd_cam3>;
				poc1-supply = <&vdd_cam1>;
				poc2-supply = <&vdd_cam0>;
				poc3-supply = <&vdd_cam2>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						deser_in0: endpoint {
							remote-endpoint = <&camera_out0>;
						};
					};

					port@1 {
						reg = <1>;
						deser_in1: endpoint {
							remote-endpoint = <&camera_out1>;
						};
					};

					port@2 {
						reg = <2>;
						deser_in2: endpoint {
							remote-endpoint = <&camera_out2>;
						};
					};

					port@3 {
						reg = <3>;
						deser_in3: endpoint {
							remote-endpoint = <&camera_out3>;
						};
					};

					port@4 {
						reg = <4>;
						deser_out0: endpoint {
							clock-lanes = <0>;
							data-lanes = <1 2 3 4>;
							remote-endpoint = <&csi40_in>;
						};
					};
				};

				i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;

					camera@60 {
						compatible = LVDS_CAMERA;
						reg = <0x60 0x0c>;

						port {
							camera_out0: endpoint {
								remote-endpoint = <&deser_in0>;
							};
						};
					};
				};

				i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;

					camera@61 {
						compatible = LVDS_CAMERA;
						reg = <0x61 0x0d>;

						port {
							camera_out1: endpoint {
								remote-endpoint = <&deser_in1>;
							};
						};
					};
				};

				i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;

					camera@62 {
						compatible = LVDS_CAMERA;
						reg = <0x62 0x0e>;

						port {
							camera_out2: endpoint {
								remote-endpoint = <&deser_in2>;
							};
						};
					};
				};

				i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;

					camera@63 {
						compatible = LVDS_CAMERA;
						reg = <0x63 0x0f>;

						port {
							camera_out3: endpoint {
								remote-endpoint = <&deser_in3>;
							};
						};
					};
				};
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};

		i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;

			fan_ctrl: lm96063@4c {
				compatible = "lm96163";
				reg = <0x4c>;
			};
		};

		i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;

			rtc: mcp79411@6f {
				compatible = "microchip,mcp7941x";
				reg = <0x6f>;
			};
		};
	};
};

&gpio0 {
	fpdl_shdn {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "FPDL_SHDN";
	};

	cam_pwr_en {
		gpio-hog;
		gpios = <11 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "VIPWR_En";
	};

	wake_pin_8 {
		gpio-hog;
		gpios = <0 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "WAKE INPUT PIN 8";
	};
};

&gpio1 {
	md_buf_en {
		gpio-hog;
		gpios = <19 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "CPLD_If_En";
	};
};

&gpio2 {
	m2_rst {
		gpio-hog;
		gpios = <11 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "M.2 RST#";
	};

	cctrl_rstn {
		gpio-hog;
		gpios = <16 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "CCTRL_RSTn";
	};

	can0_stby {
		gpio-hog;
		gpios = <27 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "CAN0STBY";
	};

	can1_load {
		gpio-hog;
		gpios = <29 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "CAN1Loff";
	};

	can1_stby {
		gpio-hog;
		gpios = <22 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "CAN1STBY";
	};

	wake_pin_7 {
		gpio-hog;
		gpios = <19 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "WAKE INPUT PIN 7";
	};

	vi1_gpioext_rst {
		gpio-hog;
		gpios = <13 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "VIP1_RST";
	};
};

&gpio3 {
	vi0_gpioext_rst {
		gpio-hog;
		gpios = <4 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "VIP0_RST";
	};
};

&pcie_bus_clk {
	clock-frequency = <100000000>;
	status = "okay";
};

&pciec {
	pcie3v3-supply = <&mpcie_3v3>;
	pcie1v8-supply = <&mpcie_1v8>;
	status = "okay";
};

&pcie_phy {
	status = "okay";
};

&pfc {
	canfd0_pins: canfd0 {
		groups = "canfd0_data_a";
		function = "canfd0";
	};

	canfd1_pins: canfd1 {
		groups = "canfd1_data";
		function = "canfd1";
	};

	avb_pins: avb {
		groups = "avb_mdio", "avb_rgmii";
		function = "avb";
	};

	i2c1_pins: i2c1 {
		groups = "i2c1";
		function = "i2c1";
	};

	scif3_pins: scif3 {
		groups = "scif3_data";
		function = "scif3";
	};
};

&scif3 {
	pinctrl-0 = <&scif3_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&tpu {
	status = "disabled";
};

&vin0 {
	status = "okay";
};

&vin1 {
	status = "okay";
};

&vin2 {
	status = "okay";
};

&vin3 {
	status = "okay";
};
