// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for UIO on the Gray Hawk CPU and BreakOut boards
 *
 * Copyright (C) 2023 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r8a779h0-gray-hawk.dts"
#include "r8a779h0-uio.dtsi"

&isp0 {
        status = "disabled";
};

&isp1 {
        status = "disabled";
};

&csi40 {
	status = "disabled";
};

&csi41 {
	status = "disabled";
};

&rt_dmac0 {
	status = "disabled";
};

&rt_dmac1 {
	status = "disabled";
};

&dsi0 {
	status = "disabled";
};

&i2c1 {
	sn65dsi86_0@2c {
		status = "disabled";
	};

	gmsl0: gmsl-deserializer@4e {
		status = "disabled";
	};

	gmsl1: gmsl-deserializer@4f {
		status = "disabled";
	};
};

&du {
	status = "disabled";
};
