// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the White Hawk CPU boards with R-Car V4H
 *
 * Copyright (C) 2021 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r8a779g0-whitehawk-cpu.dtsi"

/ {
	model = "Renesas White Hawk CPU boards based on r8a779g0";
	compatible = "renesas,whitehawk-cpu", "renesas,r8a779g0";

	aliases {
		ethernet0 = &avb0;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma@58000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x58000000 0x0 0x18000000>;
			linux,cma-default;
		};
	};

	dsi-con {
		compatible = "dsi-connector";

		port {
			dsi_con_out: endpoint {
			remote-endpoint = <&sn65dsi86_out>;
			};
		};
	};
};

&avb0 {
	pinctrl-0 = <&avb0_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy0>;
	tx-internal-delay-ps = <2000>;
	status = "okay";

	phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id0022.1622",
			     "ethernet-phy-ieee802.3-c22";
		rxc-skew-ps = <1500>;
		reg = <0>;
		interrupt-parent = <&gpio7>;
		interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio7 10 GPIO_ACTIVE_LOW>;
	};
};

&canfd {
	pinctrl-0 = <&canfd0_pins>, <&canfd1_pins>, <&canfd2_pins>,
		<&canfd3_pins>, <&canfd4_pins>, <&canfd5_pins>,
		<&canfd6_pins>, <&canfd7_pins>;
		pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};

	channel2 {
		status = "okay";
	};

	channel3 {
		status = "okay";
	};

	channel4 {
		status = "okay";
	};

	channel5 {
		status = "okay";
	};

	channel6 {
		status = "okay";
	};

	channel7 {
		status = "okay";
	};
};

&pfc {
	avb0_pins: avb0 {
		mux {
			groups = "avb0_link", "avb0_mdio", "avb0_rgmii",
				 "avb0_txcrefclk";
			function = "avb0";
		};

		pins_mdio {
			groups = "avb0_mdio";
			drive-strength = <21>;
		};

		pins_mii {
			groups = "avb0_rgmii";
			drive-strength = <21>;
		};

	};

	i2c1_pins: i2c1 {
		groups = "i2c1";
		function = "i2c1";
	};

	canfd0_pins: canfd0 {
		groups = "canfd0_data";
		function = "canfd0";
	};

	canfd1_pins: canfd1 {
		groups = "canfd1_data";
		function = "canfd1";
	};

	canfd2_pins: canfd2 {
		groups = "canfd2_data";
		function = "canfd2";
	};

	canfd3_pins: canfd3 {
		groups = "canfd3_data";
		function = "canfd3";
	};

	canfd4_pins: canfd4 {
		groups = "canfd4_data";
		function = "canfd4";
	};

	canfd5_pins: canfd5 {
		groups = "canfd5_data";
		function = "canfd5";
	};

	canfd6_pins: canfd6 {
		groups = "canfd6_data";
		function = "canfd6";
	};

	canfd7_pins: canfd7 {
		groups = "canfd7_data";
		function = "canfd7";
	};

};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	sn65dsi86@2c {
		compatible = "ti,sn65dsi86";
		reg = <0x2c>;
		dp-connector;
		clocks = <&ref_clk>;
		clock-names = "refclk";
		no-use-gpio;
		no-use-scramble;
		hpd-poll;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				sn65dsi86_in: endpoint {
					remote-endpoint = <&dsi0_out>;
				};
			};

			port@1 {
				reg = <1>;
				sn65dsi86_out: endpoint {
					remote-endpoint = <&dsi_con_out>;
				};
			};
		};
	};
};

&du {
	status = "okay";
};

&dsi0 {
	status = "okay";

	clocks = <&cpg CPG_MOD 415>,
			 <&cpg CPG_CORE R8A779G0_CLK_DSIEXT>,
			 <&extal_clk>;
	clock-names = "fck", "dsi", "extal";

	ports {
		port@1 {
			endpoint {
				remote-endpoint = <&sn65dsi86_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&ref_clk {
	clock-frequency = <38400000>;
};
