/*
 * Device Tree Source for the Salvator-X board
 *
 * Copyright (C) 2017 Renesas Electronics Corp.
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/dts-v1/;
#include "r8a77965.dtsi"
#include "salvator-x.dtsi"

/ {
	model = "Renesas Salvator-X board based on r8a77965";
	compatible = "renesas,salvator-x", "renesas,r8a77965";

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x78000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* device specific region for Lossy Decompression */
		lossy_decompress: linux,lossy_decompress {
			no-map;
			reg = <0x00000000 0x54000000 0x0 0x03000000>;
		};

		/* For Audio DSP */
		adsp_reserved: linux,adsp {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x57000000 0x0 0x01000000>;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x58000000 0x0 0x18000000>;
			linux,cma-default;
		};

		/* device specific region for contiguous allocations */
		mmp_reserved: linux,multimedia {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x70000000 0x0 0x10000000>;
		};
	};

	mmngr {
		compatible = "renesas,mmngr";
		memory-region = <&mmp_reserved>, <&lossy_decompress>;
	};

	mmngrbuf {
		compatible = "renesas,mmngrbuf";
	};

	vspm_if {
		compatible = "renesas,vspm_if";
	};
};

&adsp {
	status = "okay";
	memory-region = <&adsp_reserved>;
};

&du {
	clocks = <&cpg CPG_MOD 724>,
		 <&cpg CPG_MOD 723>,
		 <&cpg CPG_MOD 721>,
		 <&cpg CPG_MOD 727>,
		 <&versaclock5 1>,
		 <&x21_clk>,
		 <&versaclock5 2>;
	clock-names = "du.0", "du.1", "du.3", "lvds.0",
		      "dclkin.0", "dclkin.1", "dclkin.3";

	ports {
		port@2 {
			endpoint {
				remote-endpoint = <&lvds_in>;
			};
		};
	};
};

&hdmi0 {
	status = "okay";

	ports {
		port@1 {
			reg = <1>;
			rcar_dw_hdmi0_out: endpoint {
				remote-endpoint = <&hdmi0_con>;
			};
		};
	};
};

&hdmi0_con {
	remote-endpoint = <&rcar_dw_hdmi0_out>;
};

&msiof0 {
	pinctrl-0 = <&msiof0_pins>;
	pinctrl-names = "default";
	/* Please use exclusively to the rcar_sound node */
	/* status = "okay"; */

	/* Define the subnode name and compatible value as
	 * correct subdevice names.
	 */
	slavedev {
		compatible = "renesas,slavedev";
		reg = <0>;
		spi-max-frequency = <16666666>;
		spi-cpha;
		spi-cpol;
	};
};

&msiof1 {
	pinctrl-0 = <&msiof1_pins>;
	pinctrl-names = "default";
	/* In case of using this node, please enable this property */
	/* status = "okay"; */

	/*
	 * Define the subnode name and compatible value as
	 * correct subdevice names.
	 */
	slavedev {
		compatible = "renesas,slavedev";
		reg = <0>;
		spi-max-frequency = <16666666>;
		spi-cpha;
		spi-cpol;
	};
};

&msiof2 {
	pinctrl-0 = <&msiof2_pins>;
	pinctrl-names = "default";
	/* In case of using this node, please enable this property */
	/* status = "okay"; */

	/*
	 * Define the subnode name and compatible value as
	 * correct subdevice names.
	 */
	slavedev {
		compatible = "renesas,slavedev";
		reg = <0>;
		spi-max-frequency = <16666666>;
		spi-cpha;
		spi-cpol;
	};
};

&msiof3 {
	pinctrl-0 = <&msiof3_pins>;
	pinctrl-names = "default";
	/* In case of using this node, please enable this property */
	/* status = "okay"; */

	/*
	 * Define the subnode name and compatible value as
	 * correct subdevice names.
	 */
	slavedev {
		compatible = "renesas,slavedev";
		reg = <0>;
		spi-max-frequency = <16666666>;
		spi-cpha;
		spi-cpol;
	};
};

&msiof_ref_clk {
	clock-frequency = <133333333>;
};

&pfc {
	msiof0_pins: spi0 {
		groups = "msiof0_clk", "msiof0_sync",
			 "msiof0_rxd",	"msiof0_txd";
		function = "msiof0";
	};

	msiof1_pins: spi1 {
		groups = "msiof1_clk_c", "msiof1_sync_c",
			 "msiof1_rxd_c",  "msiof1_txd_c";
		function = "msiof1";
	};

	msiof2_pins: spi2 {
		groups = "msiof2_clk_b", "msiof2_sync_b",
			 "msiof2_rxd_b",  "msiof2_txd_b";
		function = "msiof2";
	};

	msiof3_pins: spi3 {
		groups = "msiof3_clk_d", "msiof3_sync_d",
			 "msiof3_rxd_d",  "msiof3_txd_d";
		function = "msiof3";
	};
};

&vspb {
	status = "okay";
};

&vspi0 {
	status = "okay";
};
