// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the common parts Gray Hawk Single boards
 *
 * Copyright (C) 2024 Renesas Electronics Corp.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/media/video-interfaces.h>

/ {
	aliases {
		serial0 = &hscif0;
		ethernet0 = &avb0;
		serial1 = &hscif2;
	};

	chosen {
		bootargs = "ignore_loglevel rw root=/dev/nfs ip=on";
		stdout-path = "serial0:921600n8";
	};

	cmem {
		memory-region = <&vdsp0_region>, <&vdsp1_region>,
				<&vdsp2_region>, <&vdsp3_region>,
				<&pap_region>, <&region_40bit>,
				<&region_40bit_ecc_off_0>, <&region_40bit_ecc_off_1>;
	};

	dsi-con0 {
		compatible = "dsi-connector";
		port {
			dsi_con_out0: endpoint {
				remote-endpoint = <&sn65dsi86_out0>;
			};
		};
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x78000000>;
	};

	memory@480000000 {
		device_type = "memory";
		reg = <0x4 0x80000000 0x1 0x80000000>;
	};

	reg_1p8v: regulator-1p8v {
			compatible = "regulator-fixed";
			regulator-name = "fixed-1.8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-boot-on;
			regulator-always-on;
	};

	reg_3p3v: regulator-3p3v {
			compatible = "regulator-fixed";
			regulator-name = "fixed-3.3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			regulator-always-on;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		vdsp0_region: linux,vdsp0_region@5d000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5d000000 0x0 0x00800000>;
		};

		vdsp1_region: linux,vdsp1_region@5d800000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5d800000 0x0 0x00800000>;
		};

		vdsp2_region: linux,vdsp2_region@5e000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5e000000 0x0 0x00800000>;
		};

		vdsp3_region: linux,vdsp3_region@5e800000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5e800000 0x0 0x00800000>;
		};

		pap_region: linux,pap_region@5f000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5f000000 0x0 0x00400000>;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma@80000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x80000000 0x0 0x23000000>;
			linux,cma-default;
		};

		region_40bit_ecc_off_0: ecc_off_region@4b00000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x4 0xb0000000 0x0 0x10000000>;
		};

		region_40bit_ecc_off_1: ecc_off_region@4c00000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x4 0xc0000000 0x0 0x10000000>;
		};

		region_40bit: linux,region_40bit@500000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x5 0x00000000 0x0 0x40000000>;
		};

		ecc_data_region@4d0000000 {
			no-map;
			reg = <0x4 0xd0000000 0x0 0x30000000>;
		};

		ecc_data_region@5b0000000 {
			no-map;
			reg = <0x5 0xb0000000 0x0 0x50000000>;
		};
	};

	sound_card: sound {
		compatible = "audio-graph-card";

		label = "rcar-sound";
		dais = <&rsnd_port0>;	/* AK4619 Audio Codec */
	};
};

&avb0 {
	pinctrl-0 = <&avb0_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy0>;
	tx-internal-delay-ps = <2000>;
	status = "okay";

	phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id0022.1622",
			     "ethernet-phy-ieee802.3-c22";
		rxc-skew-ps = <1500>;
		reg = <0>;
		interrupt-parent = <&gpio7>;
		interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio7 10 GPIO_ACTIVE_LOW>;
	};
};

&avb1 {
	pinctrl-0 = <&avb1_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy1>;
	status = "okay";
	phy-reset-gpios = <&gpio6 1 GPIO_ACTIVE_LOW>;

	phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <0>;
		interrupt-parent = <&gpio6>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio6 1 GPIO_ACTIVE_LOW>;
	};
};

&audio_clkin {
	clock-frequency = <24576000>;
};

&canfd {
	pinctrl-0 = <&canfd0_pins>, <&canfd1_pins>,
		<&canfd2_pins>, <&canfd3_pins>;
		pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};

	channel2 {
		status = "okay";
	};

	channel3 {
		status = "okay";
	};
};

&cmt0 {
	status = "okay";
};

&cmt1 {
	status = "okay";
};

&cmt2 {
	status = "okay";
};

&cmt3 {
	status = "okay";
};

&csi40 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi40_in: endpoint {
				bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&max96724_out0>;
			};
		};
	};
};

&csi41 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi41_in: endpoint {
				bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&max96724_out1>;
			};
		};
	};
};

&dsi0 {
	status = "okay";
	use-extal-clk;

	ports {
		port@1 {
			endpoint {
				remote-endpoint = <&sn65dsi86_in0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&du {
	status = "okay";
};

&extal_clk {
	clock-frequency = <16666666>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&gpio4 {
	pcie0-clkreq-hog {
		gpio-hog;
		gpios = <21 GPIO_ACTIVE_LOW>;
		output-high;
	};
};

&hscif0 {
	pinctrl-0 = <&hscif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	/* Please use exclusively to the scif0 node */
	status = "okay";
};

&hscif2 {
	pinctrl-0 = <&hscif2_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	eeprom@50 {
		compatible = "rohm,br24g01", "atmel,24c01";
		label = "cpu-board";
		reg = <0x50>;
		pagesize = <8>;
	};

	eeprom@52 {
		compatible = "rohm,br24g01", "atmel,24c01";
		label = "csi-dsi-sub-board-id";
		reg = <0x52>;
		pagesize = <8>;
	};

	eeprom@51 {
		compatible = "rohm,br24g01", "atmel,24c01";
		label = "breakout-board";
		reg = <0x51>;
		pagesize = <8>;
	};

	eeprom@53 {
		compatible = "rohm,br24g01", "atmel,24c01";
		label = "ethernet-sub-board-id";
		reg = <0x53>;
		pagesize = <8>;
	};

	io_expander_a: gpio@20 {
		compatible = "onnn,pca9654";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	pca9654_a: gpio@21 {
		compatible = "onnn,pca9654";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	pca9654_b: gpio@22 {
		compatible = "onnn,pca9654";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	pca9654_c: gpio@27 {
		compatible = "onnn,pca9654";
		reg = <0x27>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	sn65dsi86_0@2c {
		compatible = "ti,sn65dsi86";
		reg = <0x2c>;
		dp-connector;
		clocks = <&ref_clk>;
		clock-names = "refclk";
		no-use-gpio;
		no-use-scramble;
		hpd-poll;
		status = "okay";

		ports {
		#address-cells = <1>;
		#size-cells = <0>;

			port@0 {
				reg = <0>;
				sn65dsi86_in0: endpoint {
					remote-endpoint = <&dsi0_out>;
				};
			};

			port@1 {
				reg = <1>;
				sn65dsi86_out0: endpoint {
					remote-endpoint = <&dsi_con_out0>;
				};
			};
		};
	};

	gmsl0: gmsl-deserializer@4e {
		compatible = "maxim,max96724";
		reg = <0x4e>, <0x01>, <0x02>, <0x03>, <0x04>;
		gpios = <&pca9654_a 0 GPIO_ACTIVE_HIGH>;
		gpio-controller;
		#gpio-cells = <2>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				max96724_in0: endpoint {
				};
			};

			port@1 {
				reg = <1>;
				max96724_in1: endpoint {
				};
			};

			port@2 {
				reg = <2>;
				max96724_in2: endpoint {
				};
			};

			port@3 {
				reg = <3>;
				max96724_in3: endpoint {
				};
			};

			port@4 {
				reg = <4>;
				max96724_out0: endpoint {
					bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&csi40_in>;
				};
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				status = "disabled";
			};

			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;

				status = "disabled";
			};

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;

				status = "disabled";
			};

			i2c@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;

				status = "disabled";
			};
		};
	};

	gmsl1: gmsl-deserializer@4f {
		compatible = "maxim,max96724";
		reg = <0x4f>, <0x05>, <0x06>, <0x07>, <0x08>;
		gpios = <&pca9654_b 0 GPIO_ACTIVE_HIGH>;
		gpio-controller;
		#gpio-cells = <2>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				max96724_in4: endpoint {
				};
			};

			port@1 {
				reg = <1>;
				max96724_in5: endpoint {
				};
			};

			port@2 {
				reg = <2>;
				max96724_in6: endpoint {
				};
			};

			port@3 {
				reg = <3>;
				max96724_in7: endpoint {
				};
			};

			port@4 {
				reg = <4>;
				max96724_out1: endpoint {
					bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&csi41_in>;
				};
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				status = "disabled";
			};

			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;

				status = "disabled";
			};

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;

				status = "disabled";
			};

			i2c@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;

				status = "disabled";
			};
		};
	};
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins>;
        pinctrl-names = "default";

        status = "okay";
        clock-frequency = <400000>;
};

&i2c3 {
	pinctrl-0 = <&i2c3_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	ak4619@10 {
		compatible = "asahi-kasei,ak4619";

		#sound-dai-cells = <0>;
		#address-cells = <1>;
		#size-cells = <0>;

		reg = <0x10>;

		clocks = <&rcar_sound>;
		clock-names = "mclk";
		mode-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
		pdn-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;

		port@0 {
			ak4619_endpoint: endpoint {
				remote-endpoint = <&rsnd_endpoint>;
			};
		};
	};
};

&isp0 {
	status = "okay";
};

&isp1 {
	status = "okay";
};

&mmc0 {
	pinctrl-0 = <&mmc_pins>;
	pinctrl-1 = <&mmc_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	bus-width = <8>;
	no-sd;
	no-sdio;
	non-removable;
	full-pwr-cycle-in-suspend;
	status = "okay";
};

&pciec0 {
	reset-gpio = <&io_expander_a 0 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pciec0_ep {
	status = "disabled";
};

&pfc {
	pinctrl-0 = <&scif_clk_pins>;
	pinctrl-names = "default";

	avb0_pins: avb0 {
		mux {
			groups = "avb0_link", "avb0_mdio", "avb0_rgmii",
				 "avb0_txcrefclk";
			function = "avb0";
		};

		pins_mdio {
			groups = "avb0_mdio";
			drive-strength = <21>;
		};

		pins_mii {
			groups = "avb0_rgmii";
			drive-strength = <21>;
		};
	};

	avb1_pins: avb1 {
		mux {
			groups = "avb1_link", "avb1_mdio", "avb1_rgmii",
				"avb1_txcrefclk";
			function = "avb1";
		};

		pins_mdio {
			groups = "avb1_mdio";
			drive-strength = <24>;
		};

		pins_mii_tx {
			pins = "GP_6_7", "GP_6_6",
				"GP_6_13", "GP_6_12",
				"GP_6_16", "GP_6_18";
			drive-strength = <24>;
		};

		pin_tx_ctl {
			pins = "GP_6_7";
			bias-pull-up;
		};

		pins_puen_disable {
			pins = "GP_6_0", "GP_6_1", "GP_6_2", "GP_6_3", "GP_6_4",
				"GP_6_5", "GP_6_6", "GP_6_8", "GP_6_9", "GP_6_10",
				"GP_6_11", "GP_6_12", "GP_6_13", "GP_6_14", "GP_6_15",
				"GP_6_16", "GP_6_17", "GP_6_18", "GP_6_19", "GP_6_20";
			bias-disable;
		};
	};

	canfd0_pins: canfd0 {
		groups = "canfd0_data";
		function = "canfd0";
	};

	canfd1_pins: canfd1 {
		groups = "canfd1_data";
		function = "canfd1";
	};

	canfd2_pins: canfd2 {
		groups = "canfd2_data";
		function = "canfd2";
	};

	canfd3_pins: canfd3 {
		groups = "canfd3_data";
		function = "canfd3";
	};

	hscif2_pins: hscif2 {
		groups = "hscif2_data", "hscif2_ctrl";
		function = "hscif2";
	};

	hscif0_pins: hscif0 {
		groups = "hscif0_data", "hscif0_ctrl";
		function = "hscif0";
	};

	i2c0_pins: i2c0 {
		groups = "i2c0";
		function = "i2c0";
	};

	i2c1_pins: i2c1 {
		groups = "i2c1";
		function = "i2c1";
	};

	i2c2_pins: i2c2 {
                groups = "i2c2";
                function = "i2c2";
        };

	i2c3_pins: i2c3 {
                groups = "i2c3";
                function = "i2c3";
        };

	mmc_pins: mmc {
		groups = "mmc_data8", "mmc_ctrl", "mmc_ds";
		function = "mmc";
		power-source = <1800>;
	};

	qspi0_pins: qspi0 {
		groups = "qspi0_ctrl", "qspi0_data4";
		function = "qspi0";
	};

	scif_clk_pins: scif_clk {
		groups = "scif_clk";
		function = "scif_clk";
	};

	scif_clk2_pins: scif_clk2 {
		groups = "scif_clk2";
		function = "scif_clk2";
	};

	scif0_pins: scif0 {
		groups = "scif0_data", "scif0_ctrl";
		function = "scif0";
	};

	sound_pins: sound {
		groups = "ssi_ctrl", "ssi_data";
		function = "ssi";
	};

	sound_clk_pins: sound_clk {
		groups = "audio_clkin", "audio_clkout";
		function = "audio_clk";
	};
};

&rcar_sound {
	pinctrl-0 = <&sound_clk_pins>, <&sound_pins>;
	pinctrl-names = "default";

	status = "okay";
	/* Single DAI */
	#sound-dai-cells = <0>;

	/* audio_clkout0 */
	#clock-cells = <0>;
	clock-frequency = <12288000>;

	ports {
		rsnd_port0: port@0 {
			rsnd_endpoint: endpoint {
				remote-endpoint = <&ak4619_endpoint>;

				dai-format = "i2s";
				bitclock-master = <&rsnd_endpoint>;
				frame-master = <&rsnd_endpoint>;

				/* Please use exclusively to the 'capture' */
				playback = <&ssi0>;
			};
		};
	};
};

&ref_clk {
	clock-frequency = <38400000>;
};

&rpc {
	pinctrl-0 = <&qspi0_pins>;
	pinctrl-names = "default";

	flash@0 {
		compatible = "spansion,s25fs512s", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
		spi-rx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			boot@0 {
				reg = <0x0 0x1200000>;
				read-only;
			};
			user@1200000 {
				reg = <0x1200000 0x2e00000>;
			};
		};
	};
};

&rwdt {
	timeout-sec = <60>;
	status = "okay";
};

&scif_clk {
	clock-frequency = <24000000>;
};

&scif_clk2 {
	clock-frequency = <24000000>;
};

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	/* Please use exclusively to the hscif0 node */
	status = "disabled";
};

&tmu0 {
	status = "okay";
};

&tmu1 {
	status = "okay";
};

&tmu2 {
	status = "okay";
};

&tmu3 {
	status = "okay";
};

&tmu4 {
	 status = "okay";
};

&vin00 {
	status = "okay";
};

&vin01 {
	status = "okay";
};

&vin02 {
	status = "okay";
};

&vin03 {
	status = "okay";
};

&vin08 {
	status = "okay";
};

&vin09 {
	status = "okay";
};

&vin10 {
	status = "okay";
};

&vin11 {
	status = "okay";
};

/* FAKRA Overlay */
#include "gray-hawk-fakra.dtsi"
