// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the Gray Hawk CPU and BreakOut boards
 *
 * Copyright (C) 2023 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r8a779h0-gray-hawk-cpu.dtsi"
#include "r8a779h0-gray-hawk-csi-dsi.dtsi"
#include "r8a779h0-gray-hawk-ethernet.dtsi"

/ {
	model = "Renesas Gray Hawk CPU and Breakout boards based on r8a779h0";
	compatible = "renesas,gray-hawk-breakout", "renesas,gray-hawk-cpu", "renesas,r8a779h0";

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		vdsp0_region: linux,vdsp0_region@5d000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5d000000 0x0 0x00800000>;
		};

		vdsp1_region: linux,vdsp1_region@5d800000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5d800000 0x0 0x00800000>;
		};

		vdsp2_region: linux,vdsp2_region@5e000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5e000000 0x0 0x00800000>;
		};

		vdsp3_region: linux,vdsp3_region@5e800000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5e800000 0x0 0x00800000>;
		};

		pap_region: linux,pap_region@5f800000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5f000000 0x0 0x00400000>;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma@80000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x80000000 0x0 0x23000000>;
			linux,cma-default;
		};
	};

	cmem {
		memory-region = <&vdsp0_region>, <&vdsp1_region>,
				<&vdsp2_region>, <&vdsp3_region>,
				<&pap_region>;
	};

	sound_card: sound {
		compatible = "audio-graph-card";

		label = "rcar-sound";
		dais = <&rsnd_port0>;	/* AK4619 Audio Codec */
	};
};

&canfd {
	pinctrl-0 = <&canfd0_pins>, <&canfd1_pins>,
		<&canfd2_pins>, <&canfd3_pins>;
		pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};

	channel2 {
		status = "okay";
	};

	channel3 {
		status = "okay";
	};
};

&hscif2 {
	pinctrl-0 = <&hscif2_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;
	status = "okay";
};

&pfc {
	canfd0_pins: canfd0 {
		groups = "canfd0_data";
		function = "canfd0";
	};

	canfd1_pins: canfd1 {
		groups = "canfd1_data";
		function = "canfd1";
	};

	canfd2_pins: canfd2 {
		groups = "canfd2_data";
		function = "canfd2";
	};

	canfd3_pins: canfd3 {
		groups = "canfd3_data";
		function = "canfd3";
	};

	hscif2_pins: hscif2 {
		groups = "hscif2_data", "hscif2_ctrl";
		function = "hscif2";
	};

	scif_clk2_pins: scif_clk2 {
		groups = "scif_clk2";
		function = "scif_clk2";
	};
};

&i2c0 {
	eeprom@51 {
		compatible = "rohm,br24g01", "atmel,24c01";
		label = "breakout-board";
		reg = <0x51>;
		pagesize = <8>;
	};
};

&i2c3 {
	ak4619@10 {
		compatible = "asahi-kasei,ak4619";

		#sound-dai-cells = <0>;
		#address-cells = <1>;
		#size-cells = <0>;

		reg = <0x10>;

		clocks = <&rcar_sound>;
		clock-names = "mclk";
		mode-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
		pdn-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;

		port@0 {
			ak4619_endpoint: endpoint {
				remote-endpoint = <&rsnd_endpoint>;
			};
		};
	};
};

&scif_clk2 {
	clock-frequency = <24000000>;
};

&audio_clkin {
	clock-frequency = <24576000>;
};

&rcar_sound {
	status = "okay";

	ports {
		rsnd_port0: port@0 {
			rsnd_endpoint: endpoint {
				remote-endpoint = <&ak4619_endpoint>;

				dai-format = "i2s";
				bitclock-master = <&rsnd_endpoint>;
				frame-master = <&rsnd_endpoint>;

				/* Please use exclusively to the 'capture' */
				playback = <&ssi0>;
			};
		};
	};
};

&rwdt {
	timeout-sec = <60>;
	status = "okay";
};
