// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the R-Car V4H (R8A779G0) SoC
 *
 * Copyright (C) 2021 Renesas Electronics Corp.
 */

#include <dt-bindings/clock/r8a779g0-cpg-mssr.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/power/r8a779g0-sysc.h>

/ {
	compatible = "renesas,r8a779g0";
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		a76_0: cpu@0 {
			compatible = "arm,cortex-a76";
			reg = <0>;
			device_type = "cpu";
			power-domains = <&sysc R8A779G0_PD_A1E0D0C0>;
			next-level-cache = <&L3_CA76_0>;
		};

		L3_CA76_0: cache-controller-0 {
			compatible = "cache";
			power-domains = <&sysc R8A779G0_PD_A2E0D0>;
			cache-unified;
			cache-level = <3>;
		};
	};

	extal_clk: extal {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	extalr_clk: extalr {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	pmu_a76 {
		compatible = "arm,cortex-a76-pmu";
		interrupts-extended = <&gic GIC_PPI 7 IRQ_TYPE_LEVEL_LOW>;
	};

	/* External SCIF clock - to be overridden by boards that provide it */
	scif_clk: scif {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <0>;
	};

	soc: soc {
		compatible = "simple-bus";
		interrupt-parent = <&gic>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		pfc: pin-controller@e6050000 {
			compatible = "renesas,pfc-r8a779g0";
			reg = <0 0xe6050000 0 0x16c>, <0 0xe6050800 0 0x16c>,
			      <0 0xe6058000 0 0x16c>, <0 0xe6058800 0 0x16c>,
			      <0 0xe6060000 0 0x16c>, <0 0xe6060800 0 0x16c>,
			      <0 0xe6061000 0 0x16c>, <0 0xe6061800 0 0x16c>,
			      <0 0xe6068000 0 0x16c>;
		};

		gpio0: gpio@e6050180 {
			compatible = "renesas,gpio-r8a779g0";
			reg = <0 0xe6050180 0 0x54>;
			interrupts = <GIC_SPI 619 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 0 19>;
			#interrupt-cells = <2>;
			interrupt-controller;
			clocks = <&cpg CPG_MOD 915>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 915>;
		};

		gpio1: gpio@e6050980 {
			compatible = "renesas,gpio-r8a779g0";
			reg = <0 0xe6050980 0 0x54>;
			interrupts = <GIC_SPI 623 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 32 29>;
			#interrupt-cells = <2>;
			interrupt-controller;
			clocks = <&cpg CPG_MOD 915>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 915>;
		};

		gpio2: gpio@e6058180 {
			compatible = "renesas,gpio-r8a779g0";
			reg = <0 0xe6058180 0 0x54>;
			interrupts = <GIC_SPI 627 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 64 20>;
			#interrupt-cells = <2>;
			interrupt-controller;
			clocks = <&cpg CPG_MOD 916>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 916>;
		};

		gpio3: gpio@e6058980 {
			compatible = "renesas,gpio-r8a779g0";
			reg = <0 0xe6058980 0 0x54>;
			interrupts = <GIC_SPI 631 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 96 30>;
			#interrupt-cells = <2>;
			interrupt-controller;
			clocks = <&cpg CPG_MOD 916>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 916>;
		};

		gpio4: gpio@e6060180 {
			compatible = "renesas,gpio-r8a779g0";
			reg = <0 0xe6060180 0 0x54>;
			interrupts = <GIC_SPI 635 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 128 25>;
			#interrupt-cells = <2>;
			interrupt-controller;
			clocks = <&cpg CPG_MOD 917>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 917>;
		};

		gpio5: gpio@e6060980 {
			compatible = "renesas,gpio-r8a779g0";
			reg = <0 0xe6060980 0 0x54>;
			interrupts = <GIC_SPI 639 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 160 21>;
			#interrupt-cells = <2>;
			interrupt-controller;
			clocks = <&cpg CPG_MOD 917>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 917>;
		};

		gpio6: gpio@e6061180 {
			compatible = "renesas,gpio-r8a779g0";
			reg = <0 0xe6061180 0 0x54>;
			interrupts = <GIC_SPI 643 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 192 21>;
			#interrupt-cells = <2>;
			interrupt-controller;
			clocks = <&cpg CPG_MOD 917>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 917>;
		};

		gpio7: gpio@e6061980 {
			compatible = "renesas,gpio-r8a779g0";
			reg = <0 0xe6061980 0 0x54>;
			interrupts = <GIC_SPI 647 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 224 21>;
			#interrupt-cells = <2>;
			interrupt-controller;
			clocks = <&cpg CPG_MOD 917>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 917>;
		};

		gpio8: gpio@e6068180 {
			compatible = "renesas,gpio-r8a779g0";
			reg = <0 0xe6068180 0 0x54>;
			interrupts = <GIC_SPI 651 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 256 14>;
			#interrupt-cells = <2>;
			interrupt-controller;
			clocks = <&cpg CPG_MOD 918>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 918>;
		};

		pwm0: pwm@e6e30000 {
			compatible = "renesas,pwm-r8a779g0", "renesas,pwm-rcar";
			reg = <0 0xe6e30000 0 0x10>;
			#pwm-cells = <2>;
			clocks = <&cpg CPG_MOD 628>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 628>;
			status = "disabled";
		};

		pwm1: pwm@e6e31000 {
			compatible = "renesas,pwm-r8a779g0", "renesas,pwm-rcar";
			reg = <0 0xe6e31000 0 0x10>;
			#pwm-cells = <2>;
			clocks = <&cpg CPG_MOD 628>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 628>;
			status = "disabled";
		};

		pwm2: pwm@e6e32000 {
			compatible = "renesas,pwm-r8a779g0", "renesas,pwm-rcar";
			reg = <0 0xe6e32000 0 0x10>;
			#pwm-cells = <2>;
			clocks = <&cpg CPG_MOD 628>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 628>;
			status = "disabled";
		};

		pwm3: pwm@e6e33000 {
			compatible = "renesas,pwm-r8a779g0", "renesas,pwm-rcar";
			reg = <0 0xe6e33000 0 0x10>;
			#pwm-cells = <2>;
			clocks = <&cpg CPG_MOD 628>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 628>;
			status = "disabled";
		};

		pwm4: pwm@e6e34000 {
			compatible = "renesas,pwm-r8a779g0", "renesas,pwm-rcar";
			reg = <0 0xe6e34000 0 0x10>;
			#pwm-cells = <2>;
			clocks = <&cpg CPG_MOD 628>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 628>;
			status = "disabled";
		};

		pwm5: pwm@e6e35000 {
			compatible = "renesas,pwm-r8a779g0", "renesas,pwm-rcar";
			reg = <0 0xe6e35000 0 0x10>;
			#pwm-cells = <2>;
			clocks = <&cpg CPG_MOD 628>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 628>;
			status = "disabled";
		};

		pwm6: pwm@e6e36000 {
			compatible = "renesas,pwm-r8a779g0", "renesas,pwm-rcar";
			reg = <0 0xe6e36000 0 0x10>;
			#pwm-cells = <2>;
			clocks = <&cpg CPG_MOD 628>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 628>;
			status = "disabled";
		};

		pwm7: pwm@e6e37000 {
			compatible = "renesas,pwm-r8a779g0", "renesas,pwm-rcar";
			reg = <0 0xe6e37000 0 0x10>;
			#pwm-cells = <2>;
			clocks = <&cpg CPG_MOD 628>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 628>;
			status = "disabled";
		};

		pwm8: pwm@e6e38000 {
			compatible = "renesas,pwm-r8a779g0", "renesas,pwm-rcar";
			reg = <0 0xe6e38000 0 0x10>;
			#pwm-cells = <2>;
			clocks = <&cpg CPG_MOD 628>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 628>;
			status = "disabled";
		};

		pwm9: pwm@e6e39000 {
			compatible = "renesas,pwm-r8a779g0", "renesas,pwm-rcar";
			reg = <0 0xe6e39000 0 0x10>;
			#pwm-cells = <2>;
			clocks = <&cpg CPG_MOD 628>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 628>;
			status = "disabled";
		};

		tpu: pwm@e6e80000 {
			compatible = "renesas,tpu-r8a779g0", "renesas,tpu";
			reg = <0 0xe6e80000 0 0x148>;
			interrupts = <GIC_SPI 308 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 718>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 718>;
			#pwm-cells = <3>;
			status = "disabled";
		};

		cpg: clock-controller@e6150000 {
			compatible = "renesas,r8a779g0-cpg-mssr";
			reg = <0 0xe6150000 0 0x4000>;
			clocks = <&extal_clk>, <&extalr_clk>;
			clock-names = "extal", "extalr";
			#clock-cells = <2>;
			#power-domain-cells = <0>;
			#reset-cells = <1>;
		};

		rst: reset-controller@e6160000 {
			compatible = "renesas,r8a779g0-rst";
			reg = <0 0xe6160000 0 0x4000>;
		};

		sysc: system-controller@e6180000 {
			compatible = "renesas,r8a779g0-sysc";
			reg = <0 0xe6180000 0 0x4000>;
			#power-domain-cells = <1>;
		};

		i2c0: i2c@e6500000 {
			compatible = "renesas,i2c-r8a779g0",
				     "renesas,rcar-gen4-i2c";
			reg = <0 0xe6500000 0 0x40>;
			interrupts = <GIC_SPI 610 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 518>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 518>;
			/* dmas and dma-names placeholder */
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c1: i2c@e6508000 {
			compatible = "renesas,i2c-r8a779g0",
				     "renesas,rcar-gen4-i2c";
			reg = <0 0xe6508000 0 0x40>;
			interrupts = <GIC_SPI 611 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 519>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 519>;
			/* dmas and dma-names placeholder */
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c2: i2c@e6510000 {
			compatible = "renesas,i2c-r8a779g0",
				     "renesas,rcar-gen4-i2c";
			reg = <0 0xe6510000 0 0x40>;
			interrupts = <GIC_SPI 612 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 520>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 520>;
			/* dmas and dma-names placeholder */
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c3: i2c@e66d0000 {
			compatible = "renesas,i2c-r8a779g0",
				     "renesas,rcar-gen4-i2c";
			reg = <0 0xe66d0000 0 0x40>;
			interrupts = <GIC_SPI 613 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 521>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 521>;
			/* dmas and dma-names placeholder */
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c4: i2c@e66d8000 {
			compatible = "renesas,i2c-r8a779g0",
				     "renesas,rcar-gen4-i2c";
			reg = <0 0xe66d8000 0 0x40>;
			interrupts = <GIC_SPI 614 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 522>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 522>;
			/* dmas and dma-names placeholder */
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c5: i2c@e66e0000 {
			compatible = "renesas,i2c-r8a779g0",
				     "renesas,rcar-gen4-i2c";
			reg = <0 0xe66e0000 0 0x40>;
			interrupts = <GIC_SPI 615 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 523>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 523>;
			/* dmas and dma-names placeholder */
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		hscif0: serial@e6540000 {
			compatible = "renesas,hscif-r8a779g0",
				     "renesas,rcar-gen4-hscif", "renesas,hscif";
			reg = <0 0xe6540000 0 0x60>;
			interrupts = <GIC_SPI 246 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 514>,
				 <&cpg CPG_CORE R8A779G0_CLK_S0D3_PER>,
				 <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 514>;
			status = "disabled";
		};

		hscif1: serial@e6550000 {
			compatible = "renesas,hscif-r8a779g0",
				     "renesas,rcar-gen4-hscif", "renesas,hscif";
			reg = <0 0xe6550000 0 0x60>;
			interrupts = <GIC_SPI 247 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 515>,
				 <&cpg CPG_CORE R8A779G0_CLK_S0D3_PER>,
				 <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 515>;
			status = "disabled";
		};

		hscif2: serial@e6560000 {
			compatible = "renesas,hscif-r8a779g0",
				     "renesas,rcar-gen4-hscif", "renesas,hscif";
			reg = <0 0xe6560000 0 0x60>;
			interrupts = <GIC_SPI 248 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 516>,
				 <&cpg CPG_CORE R8A779G0_CLK_S0D3_PER>,
				 <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 516>;
			status = "disabled";
		};

		hscif3: serial@e66a0000 {
			compatible = "renesas,hscif-r8a779g0",
				     "renesas,rcar-gen4-hscif", "renesas,hscif";
			reg = <0 0xe66a0000 0 0x60>;
			interrupts = <GIC_SPI 249 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 517>,
				 <&cpg CPG_CORE R8A779G0_CLK_S0D3_PER>,
				 <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 517>;
			status = "disabled";
		};

		avb0: ethernet@e6800000 {
			compatible = "renesas,etheravb-r8a779g0",
				     "renesas,etheravb-rcar-gen4";
			reg = <0 0xe6800000 0 0x800>;
			interrupts = <GIC_SPI 335 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 336 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 337 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 338 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 339 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 340 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 341 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 342 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 343 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 344 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 345 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 346 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 347 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 348 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 349 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 350 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 351 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 352 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 353 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 354 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 355 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 356 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 357 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 358 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 359 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "ch0", "ch1", "ch2", "ch3",
					  "ch4", "ch5", "ch6", "ch7",
					  "ch8", "ch9", "ch10", "ch11",
					  "ch12", "ch13", "ch14", "ch15",
					  "ch16", "ch17", "ch18", "ch19",
					  "ch20", "ch21", "ch22", "ch23",
					  "ch24";
			clocks = <&cpg CPG_MOD 211>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 211>;
			phy-mode = "rgmii";
			rx-internal-delay-ps = <0>;
			tx-internal-delay-ps = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		avb1: ethernet@e6810000 {
			compatible = "renesas,etheravb-r8a779g0",
				     "renesas,etheravb-rcar-gen4";
			reg = <0 0xe6810000 0 0x800>;
			interrupts = <GIC_SPI 360 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 361 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 362 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 363 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 364 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 365 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 366 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 367 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 368 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 369 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 370 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 371 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 372 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 373 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 374 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 375 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 376 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 377 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 378 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 379 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 380 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 381 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 382 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 383 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 384 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "ch0", "ch1", "ch2", "ch3",
					  "ch4", "ch5", "ch6", "ch7",
					  "ch8", "ch9", "ch10", "ch11",
					  "ch12", "ch13", "ch14", "ch15",
					  "ch16", "ch17", "ch18", "ch19",
					  "ch20", "ch21", "ch22", "ch23",
					  "ch24";
			clocks = <&cpg CPG_MOD 212>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 212>;
			phy-mode = "rgmii";
			rx-internal-delay-ps = <0>;
			tx-internal-delay-ps = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		avb2: ethernet@e6820000 {
			compatible = "renesas,etheravb-r8a779g0",
				     "renesas,etheravb-rcar-gen4";
			reg = <0 0xe6820000 0 0x1000>;
			interrupts = <GIC_SPI 385 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 386 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 387 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 388 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 389 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 390 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 391 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 392 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 393 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 394 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 395 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 396 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 397 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 398 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 399 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 400 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 401 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 402 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 403 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 404 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 405 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 406 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 407 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 408 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 409 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "ch0", "ch1", "ch2", "ch3",
					"ch4", "ch5", "ch6", "ch7",
					"ch8", "ch9", "ch10", "ch11",
					"ch12", "ch13", "ch14", "ch15",
					"ch16", "ch17", "ch18", "ch19",
					"ch20", "ch21", "ch22", "ch23",
					"ch24";
			clocks = <&cpg CPG_MOD 213>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 213>;
			phy-mode = "rgmii";
			rx-internal-delay-ps = <0>;
			tx-internal-delay-ps = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		scif0: serial@e6e60000 {
			compatible = "renesas,scif-r8a779g0",
				     "renesas,rcar-gen4-scif", "renesas,scif";
			reg = <0 0xe6e60000 0 0x64>;
			interrupts = <GIC_SPI 251 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 702>,
				 <&cpg CPG_CORE R8A779G0_CLK_S0D3_PER>,
				 <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 702>;
			status = "disabled";
		};

		scif1: serial@e6e68000 {
			compatible = "renesas,scif-r8a779g0",
				     "renesas,rcar-gen4-scif", "renesas,scif";
			reg = <0 0xe6e68000 0 0x64>;
			interrupts = <GIC_SPI 252 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 703>,
				 <&cpg CPG_CORE R8A779G0_CLK_S0D3_PER>,
				 <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 703>;
			status = "disabled";
		};

		scif3: serial@e6c50000 {
			compatible = "renesas,scif-r8a779g0",
				     "renesas,rcar-gen4-scif", "renesas,scif";
			reg = <0 0xe6c50000 0 0x64>;
			interrupts = <GIC_SPI 253 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 704>,
				 <&cpg CPG_CORE R8A779G0_CLK_S0D3_PER>,
				 <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 704>;
			status = "disabled";
		};

		scif4: serial@e6c40000 {
			compatible = "renesas,scif-r8a779g0",
				     "renesas,rcar-gen4-scif", "renesas,scif";
			reg = <0 0xe6c40000 0 0x64>;
			interrupts = <GIC_SPI 254 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 705>,
				 <&cpg CPG_CORE R8A779G0_CLK_S0D3_PER>,
				 <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 705>;
			status = "disabled";
		};

		gic: interrupt-controller@f1000000 {
			compatible = "arm,gic-v3";
			#interrupt-cells = <3>;
			#address-cells = <0>;
			interrupt-controller;
			reg = <0x0 0xf1000000 0 0x20000>,
			      <0x0 0xf1060000 0 0x110000>;
			interrupts = <GIC_PPI 9
				      (GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_HIGH)>;
		};

		msiof0: spi@e6e90000 {
			compatible = "renesas,msiof-r8a779g0";
			reg = <0 0xe6e90000 0 0x0064>;
			interrupts = <GIC_SPI 239 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 618>, <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			clock-names = "msiof_clk", "mso";
			assigned-clocks = <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			assigned-clock-rates = <20000000>;
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 618>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		msiof1: spi@e6ea0000 {
			compatible = "renesas,msiof-r8a779g0";
			reg = <0 0xe6ea0000 0 0x0064>;
			interrupts = <GIC_SPI 240 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 619>, <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			clock-names = "msiof_clk", "mso";
			assigned-clocks = <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			assigned-clock-rates = <20000000>;
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 619>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		msiof2: spi@e6c00000 {
			compatible = "renesas,msiof-r8a779g0";
			reg = <0 0xe6c00000 0 0x0064>;
			interrupts = <GIC_SPI 241 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 620>, <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			clock-names = "msiof_clk", "mso";
			assigned-clocks = <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			assigned-clock-rates = <20000000>;
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 620>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		msiof3: spi@e6c10000 {
			compatible = "renesas,msiof-r8a779g0";
			reg = <0 0xe6c10000 0 0x0064>;
			interrupts = <GIC_SPI 242 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 621>, <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			clock-names = "msiof_clk", "mso";
			assigned-clocks = <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			assigned-clock-rates = <20000000>;
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 621>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		msiof4: spi@e6c20000 {
			compatible = "renesas,msiof-r8a779g0";
			reg = <0 0xe6c20000 0 0x0064>;
			interrupts = <GIC_SPI 243 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 622>, <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			clock-names = "msiof_clk", "mso";
			assigned-clocks = <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			assigned-clock-rates = <20000000>;
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 622>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		msiof5: spi@e6c28000 {
			compatible = "renesas,msiof-r8a779g0";
			reg = <0 0xe6c28000 0 0x0064>;
			interrupts = <GIC_SPI 244 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 623>, <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			clock-names = "msiof_clk", "mso";
			assigned-clocks = <&cpg CPG_CORE R8A779G0_CLK_MSO>;
			assigned-clock-rates = <20000000>;
			/* dmas and dma-names placeholder */
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 623>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		imrlx6_ims0: ims@fe860000 {
			compatible = "generic-uio";
			reg = <0 0xfe860000 0 0x10000>;
			interrupts = <GIC_SPI 579 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 529>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 529>;
			linux,uio-name = "ims_00";
		};

		imrlx6_ims1: ims@fe870000 {
			compatible = "generic-uio";
			reg = <0 0xfe870000 0 0x10000>;
			interrupts = <GIC_SPI 580 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 530>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 530>;
			linux,uio-name = "ims_01";
		};

		imrlx6_imr0: imr@fe880000 {
			compatible = "generic-uio";
			reg = <0 0xfe880000 0 0x10000>;
			interrupts = <GIC_SPI 581 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 525>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 525>;
			linux,uio-name = "imr_00";
		};

		imrlx6_imr1: imr@fe890000 {
			compatible = "generic-uio";
			reg = <0 0xfe890000 0 0x10000>;
			interrupts = <GIC_SPI 582 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 526>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 526>;
			linux,uio-name = "imr_01";
		};

		imrlx6_imr2: imr@fe8a0000 {
			compatible = "generic-uio";
			reg = <0 0xfe8a0000 0 0x10000>;
			interrupts = <GIC_SPI 583 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 527>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 527>;
			linux,uio-name = "imr_02";
		};

		impslv0: imp-distributer0@ff900000 {
			compatible = "generic-uio";
			reg = <0 0xff900000 0 0x6000>;
			interrupts = <GIC_SPI 565 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 118>;
			power-domains = <&sysc R8A779G0_PD_A3IR>;
			interrupt-controller;
			#interrupt-cells = <1>;
			resets = <&cpg 118>;
			linux,uio-name = "imp_top_00";
		};

		impslv1: imp-distributer1@ff900000 {
			compatible = "generic-uio";
			reg = <0 0xff900000 0 0x6000>;
			interrupts = <GIC_SPI 567 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 118>;
			power-domains = <&sysc R8A779G0_PD_A3IR>;
			interrupt-controller;
			#interrupt-cells = <1>;
			linux,uio-name = "irq_imp_top_00_01";
		};

		impslv2: imp-distributer2@ff900000 {
			compatible = "generic-uio";
			reg = <0 0xff900000 0 0x6000>;
			interrupts = <GIC_SPI 568 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 118>;
			power-domains = <&sysc R8A779G0_PD_A3IR>;
			interrupt-controller;
			#interrupt-cells = <1>;
			linux,uio-name = "irq_imp_top_00_02";
		};

		imp0: imp-core@ffa00000 {
			compatible = "generic-uio";
			reg = <0 0xffa00000 0 0x20000>;
			clocks = <&cpg CPG_MOD 24>;
			power-domains = <&sysc R8A779G0_PD_A2IMP01>;
			resets = <&cpg 24>;
			linux,uio-name = "imp_00";
		};

		imp1: imp-core@ffa20000 {
			compatible = "generic-uio";
			reg = <0 0xffa20000 0 0x20000>;
			clocks = <&cpg CPG_MOD 25>;
			power-domains = <&sysc R8A779G0_PD_A2IMP01>;
			resets = <&cpg 25>;
			linux,uio-name = "imp_01";
		};

		imp2: imp-core@ffb00000 {
			compatible = "generic-uio";
			reg = <0 0xffb00000 0 0x20000>;
			clocks = <&cpg CPG_MOD 103>;
			power-domains = <&sysc R8A779G0_PD_A2IMP23>;
			resets = <&cpg 103>;
			linux,uio-name = "imp_02";
		};

		imp3: imp-core@ffb20000 {
			compatible = "generic-uio";
			reg = <0 0xffb20000 0 0x20000>;
			clocks = <&cpg CPG_MOD 104>;
			power-domains = <&sysc R8A779G0_PD_A2IMP23>;
			resets = <&cpg 104>;
			linux,uio-name = "imp_03";
		};

		impcve0: imp-cve@ffa40000 {
			compatible = "generic-uio";
			reg = <0 0xffa40000 0 0x10000>;
			clocks = <&cpg CPG_MOD 2706>;
			power-domains = <&sysc R8A779G0_PD_A2CV0>;
			resets = <&cpg 2706>;
			linux,uio-name = "imp_ocv_00";
		};

		impcve1: imp-cve@ffa50000 {
			compatible = "generic-uio";
			reg = <0 0xffa50000 0 0x10000>;
			clocks = <&cpg CPG_MOD 2707>;
			power-domains = <&sysc R8A779G0_PD_A2CV1>;
			resets = <&cpg 2707>;
			linux,uio-name = "imp_ocv_01";
		};

		impcve2: imp-cve@ffa60000 {
			compatible = "generic-uio";
			reg = <0 0xffa60000 0 0x10000>;
			clocks = <&cpg CPG_MOD 2708>;
			power-domains = <&sysc R8A779G0_PD_A2CV2>;
			resets = <&cpg 2708>;
			linux,uio-name = "imp_ocv_02";
		};

		impcve3: imp-cve@ffa70000 {
			compatible = "generic-uio";
			reg = <0 0xffa70000 0 0x10000>;
			clocks = <&cpg CPG_MOD 2709>;
			power-domains = <&sysc R8A779G0_PD_A2CV3>;
			resets = <&cpg 2709>;
			linux,uio-name = "imp_ocv_03";
		};

		impdma00: dma-controller@ffa80000 {
			compatible = "generic-uio";
			reg = <0 0xffa80000 0 0x4000>;
			clocks = <&cpg CPG_MOD 26>;
			power-domains = <&sysc R8A779G0_PD_A2PSC>;
			resets = <&cpg 26>;
			linux,uio-name = "imp_dma_00";
		};

		impdma01: dma-controller@ffb80000 {
			compatible = "generic-uio";
			reg = <0 0xffb80000 0 0x4000>;
			clocks = <&cpg CPG_MOD 105>;
			power-domains = <&sysc R8A779G0_PD_A2DMA>;
			resets = <&cpg 105>;
			linux,uio-name = "imp_dma_01";
		};

		imppsc0: imp-psc@ffa84000 {
			compatible = "generic-uio";
			reg = <0 0xffa84000 0 0x4000>;
			clocks = <&cpg CPG_MOD 27>;
			power-domains = <&sysc R8A779G0_PD_A2PSC>;
			resets = <&cpg 27>;
			linux,uio-name = "imp_psc_00";
		};

		impdta0: imp-dta@ffa88000 {
			compatible = "generic-uio";
			reg = <0 0xffa88000 0 0x4000>;
			clocks = <&cpg CPG_MOD 116>;
			power-domains = <&sysc R8A779G0_PD_A3IR>;
			resets = <&cpg 116>;
			linux,uio-name = "imp_dta_00";
		};

		impsdmac00: imp-dmac-slim@ffa90000 {
			compatible = "generic-uio";
			reg = <0 0xffa90000 0 0x4000>;
			clocks = <&cpg CPG_MOD 2712>;
			power-domains = <&sysc R8A779G0_PD_A2CN0>;
			resets = <&cpg 2712>;
			linux,uio-name = "imp_dma_slim_00";
		};

		impsdmac01: imp-sdmac-slim@ffa94000 {
			compatible = "generic-uio";
			reg = <0 0xffa94000 0 0x4000>;
			clocks = <&cpg CPG_MOD 2713>;
			power-domains = <&sysc R8A779G0_PD_A2CN0>;
			resets = <&cpg 2713>;
			linux,uio-name = "imp_sdma_01";
		};

		impcnn0: imp-cnn@ffaa0000 {
			compatible = "generic-uio";
			reg = <0 0xffaa0000 0 0x10000>;
			clocks = <&cpg CPG_MOD 22>;
			power-domains = <&sysc R8A779G0_PD_A2CN0>;
			resets = <&cpg 22>;
			linux,uio-name = "imp_cnn_00";
		};

		impspmi0_ctrl: imp-ram@ffa8c000 {
			compatible = "generic-uio";
			reg = <0 0xffa8c000 0 0x4000>;
			clocks = <&cpg CPG_MOD 120>;
			power-domains = <&sysc R8A779G0_PD_A3IR>;
			resets = <&cpg 120>;
			linux,uio-name = "imp_reg_spmi_00";
		};

		impspmc0_ctrl: cnn-ram@ffab0000 {
			compatible = "generic-uio";
			reg = <0 0xffab0000 0 0x4000>;
			clocks = <&cpg CPG_MOD 23>;
			power-domains = <&sysc R8A779G0_PD_A2CN0>;
			resets = <&cpg 23>;
			linux,uio-name = "imp_reg_spmc_00";
		};

		impspmi0_mem: imp-ram@ed300000 {
			compatible = "generic-uio";
			reg = <0 0xed300000 0 0x100000>;
			clocks = <&cpg CPG_MOD 120>;
			power-domains = <&sysc R8A779G0_PD_A3IR>;
			linux,uio-name = "imp_spmi_00";
		};

		impspmc0_mem: cnn-ram@ed400000 {
			compatible = "generic-uio";
			reg = <0 0xed400000 0 0x200000>;
			clocks = <&cpg CPG_MOD 23>;
			power-domains = <&sysc R8A779G0_PD_A2CN0>;
			linux,uio-name = "imp_spmc_00";
		};

		impvdsp0: vdsp@f1400000 {
			compatible = "generic-uio";
			reg = <0 0xf1400000 0 0x200000>;
			interrupts = <GIC_SPI 478 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2821>;
			power-domains = <&sysc R8A779G0_PD_A1DSP0>;
			resets = <&cpg 2821>;
			linux,uio-name = "vdsp_00";
		};

		impvdsp0_01 {
			compatible = "generic-uio";
			reg = <0 0xf1400000 0 0x200000>;
			interrupts = <GIC_SPI 479 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2821>;
			power-domains = <&sysc R8A779G0_PD_A1DSP0>;
			resets = <&cpg 2821>;
			linux,uio-name = "irq_vdsp_00_01";
		};

		impvdsp0_10 {
			compatible = "generic-uio";
			reg = <0 0xf1400000 0 0x200000>;
			interrupts = <GIC_SPI 480 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2821>;
			power-domains = <&sysc R8A779G0_PD_A1DSP0>;
			resets = <&cpg 2821>;
			linux,uio-name = "irq_vdsp_00_10";
		};

		impvdsp0_11 {
			compatible = "generic-uio";
			reg = <0 0xf1400000 0 0x200000>;
			interrupts = <GIC_SPI 481 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2821>;
			power-domains = <&sysc R8A779G0_PD_A1DSP0>;
			resets = <&cpg 2821>;
			linux,uio-name = "irq_vdsp_00_11";
		};

		impvdsp1: vdsp@f1600000 {
			compatible = "generic-uio";
			reg = <0 0xf1600000 0 0x200000>;
			interrupts = <GIC_SPI 482 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2830>;
			power-domains = <&sysc R8A779G0_PD_A1DSP1>;
			resets = <&cpg 2830>;
			linux,uio-name = "vdsp_01";
		};

		impvdsp1_01 {
			compatible = "generic-uio";
			reg = <0 0xf1600000 0 0x200000>;
			interrupts = <GIC_SPI 483 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2830>;
			power-domains = <&sysc R8A779G0_PD_A1DSP1>;
			resets = <&cpg 2830>;
			linux,uio-name = "irq_vdsp_01_01";
		};

		impvdsp1_10 {
			compatible = "generic-uio";
			reg = <0 0xf1600000 0 0x200000>;
			interrupts = <GIC_SPI 484 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2830>;
			power-domains = <&sysc R8A779G0_PD_A1DSP1>;
			resets = <&cpg 2830>;
			linux,uio-name = "irq_vdsp_01_10";
		};

		impvdsp1_11 {
			compatible = "generic-uio";
			reg = <0 0xf1600000 0 0x200000>;
			interrupts = <GIC_SPI 485 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2830>;
			power-domains = <&sysc R8A779G0_PD_A1DSP1>;
			resets = <&cpg 2830>;
			linux,uio-name = "irq_vdsp_01_11";
		};

		impvdsp2: vdsp@f1800000 {
			compatible = "generic-uio";
			reg = <0 0xf1800000 0 0x200000>;
			interrupts = <GIC_SPI 486 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2907>;
			power-domains = <&sysc R8A779G0_PD_A1DSP2>;
			resets = <&cpg 2907>;
			linux,uio-name = "vdsp_02";
		};

		impvdsp2_01 {
			compatible = "generic-uio";
			reg = <0 0xf1800000 0 0x200000>;
			interrupts = <GIC_SPI 487 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2907>;
			power-domains = <&sysc R8A779G0_PD_A1DSP2>;
			resets = <&cpg 2907>;
			linux,uio-name = "irq_vdsp_02_01";
		};

		impvdsp2_10 {
			compatible = "generic-uio";
			reg = <0 0xf1800000 0 0x200000>;
			interrupts = <GIC_SPI 488 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2907>;
			power-domains = <&sysc R8A779G0_PD_A1DSP2>;
			resets = <&cpg 2907>;
			linux,uio-name = "irq_vdsp_02_10";
		};

		impvdsp2_11 {
			compatible = "generic-uio";
			reg = <0 0xf1800000 0 0x200000>;
			interrupts = <GIC_SPI 489 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2907>;
			power-domains = <&sysc R8A779G0_PD_A1DSP2>;
			resets = <&cpg 2907>;
			linux,uio-name = "irq_vdsp_02_11";
		};

		impvdsp3: vdsp@f1a00000 {
			compatible = "generic-uio";
			reg = <0 0xf1a00000 0 0x200000>;
			interrupts = <GIC_SPI 490 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2916>;
			power-domains = <&sysc R8A779G0_PD_A1DSP3>;
			resets = <&cpg 2916>;
			linux,uio-name = "vdsp_03";
		};

		impvdsp3_01 {
			compatible = "generic-uio";
			reg = <0 0xf1a00000 0 0x200000>;
			interrupts = <GIC_SPI 491 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2916>;
			power-domains = <&sysc R8A779G0_PD_A1DSP3>;
			resets = <&cpg 2916>;
			linux,uio-name = "irq_vdsp_03_01";
		};

		impvdsp3_10 {
			compatible = "generic-uio";
			reg = <0 0xf1a00000 0 0x200000>;
			interrupts = <GIC_SPI 492 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2916>;
			power-domains = <&sysc R8A779G0_PD_A1DSP3>;
			resets = <&cpg 2916>;
			linux,uio-name = "irq_vdsp_03_10";
		};

		impvdsp3_11 {
			compatible = "generic-uio";
			reg = <0 0xf1a00000 0 0x200000>;
			interrupts = <GIC_SPI 493 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 2916>;
			power-domains = <&sysc R8A779G0_PD_A1DSP3>;
			resets = <&cpg 2916>;
			linux,uio-name = "irq_vdsp_03_11";
		};

		dof_sts_00 {
			compatible = "generic-uio";
			reg = <0 0xe7a10000 0 0x10000>;
			interrupts = <GIC_SPI 242 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 9>;
			power-domains = <&sysc R8A779G0_PD_A3VIP0>;
			resets = <&cpg 9>;
			linux,uio-name = "dof_00";
		};

		dof_err_00 {
			compatible = "generic-uio";
			reg = <0 0xe7a10000 0 0x10000>;
			interrupts = <GIC_SPI 243 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 9>;
			power-domains = <&sysc R8A779G0_PD_A3VIP0>;
			linux,uio-name = "irq_dof_00_01";
		};

		smd_ps_sts_00 {
			compatible = "generic-uio";
			reg = <0 0xe7a20000 0 0x10000>;
			interrupts = <GIC_SPI 112 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 7>;
			power-domains = <&sysc R8A779G0_PD_A3VIP2>;
			resets = <&cpg 7>;
			linux,uio-name = "smd_ps_00";
			status = "disabled";
		};

		smd_ps_err_00 {
			compatible = "generic-uio";
			reg = <0 0xe7a20000 0 0x10000>;
			interrupts = <GIC_SPI 151 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 7>;
			power-domains = <&sysc R8A779G0_PD_A3VIP2>;
			linux,uio-name = "irq_smd_ps_00_01";
		};

		smd_post_sts_00 {
			compatible = "generic-uio";
			reg = <0 0xe7a40000 0 0x10000>;
			interrupts = <GIC_SPI 173 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 5>;
			power-domains = <&sysc R8A779G0_PD_A3VIP2>;
			resets = <&cpg 5>;
			linux,uio-name = "smd_post_00";
		};

		smd_post_err_00 {
			compatible = "generic-uio";
			reg = <0 0xe7a40000 0 0x10000>;
			interrupts = <GIC_SPI 235 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 5>;
			power-domains = <&sysc R8A779G0_PD_A3VIP2>;
			linux,uio-name = "irq_smd_post_00_01";
		};

		cisp0: cisp@fec00000 {
			compatible = "generic-uio";
			reg = <0 0xfec00000 0 0x100000>;
			interrupts = <GIC_SPI 475 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 16>;
			power-domains = <&sysc R8A779G0_PD_A3ISP0>;
			resets = <&cpg 16>;
			linux,uio-name = "cisp_00";
		};

		tisp0: tisp@fed00000 {
			compatible = "generic-uio";
			reg = <0 0xfed00000 0 0x10000>;
			interrupts = <GIC_SPI 473 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 612>;
			power-domains = <&sysc R8A779G0_PD_A3ISP0>;
			resets = <&cpg 612>;
			linux,uio-name = "tisp_00";
		};

		cisp1: cisp@fee00000 {
			compatible = "generic-uio";
			reg = <0 0xfee00000 0 0x100000>;
			interrupts = <GIC_SPI 476 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 17>;
			power-domains = <&sysc R8A779G0_PD_A3ISP1>;
			resets = <&cpg 17>;
			linux,uio-name = "cisp_01";
		};

		tisp1: tisp@fed20000 {
			compatible = "generic-uio";
			reg = <0 0xfed20000 0 0x10000>;
			interrupts = <GIC_SPI 474 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 613>;
			power-domains = <&sysc R8A779G0_PD_A3ISP1>;
			resets = <&cpg 613>;
			linux,uio-name = "tisp_01";
		};

		vspx0: vspx@fedd0000 {
			compatible = "generic-uio";
			reg = <0 0xfedd0000 0 0x8000>;
			interrupts = <GIC_SPI 556 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 1028>;
			power-domains = <&sysc R8A779G0_PD_A3ISP0>;
			resets = <&cpg 1028>;
			linux,uio-name = "vspx_00";
			iommus = <&ipmmu_vi1 24>;
		};

		vspx1: vspx@fedd8000 {
			compatible = "generic-uio";
			reg = <0 0xfedd8000 0 0x8000>;
			interrupts = <GIC_SPI 557 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 1029>;
			power-domains = <&sysc R8A779G0_PD_A3ISP1>;
			resets = <&cpg 1029>;
			linux,uio-name = "vspx_01";
			iommus = <&ipmmu_vi1 25>;
		};

		prr: chipid@fff00044 {
			compatible = "renesas,prr";
			reg = <0 0xfff00044 0 4>;
		};

		fcpvd0: fcp@fea10000 {
			compatible = "renesas,fcpv";
			reg = <0 0xfea10000 0 0x200>;
			clocks = <&cpg CPG_MOD 508>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 508>;
		};

		fcpvd1: fcp@fea11000 {
			compatible = "renesas,fcpv";
			reg = <0 0xfea11000 0 0x200>;
			clocks = <&cpg CPG_MOD 509>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 509>;
		};

		vspd0: vsp@fea20000 {
			compatible = "renesas,vsp2";
			reg = <0 0xfea20000 0 0x5000>;
			interrupts = <GIC_SPI 546 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 830>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 830>;

			renesas,fcp = <&fcpvd0>;
		};

		vspd1: vsp@fea28000 {
			compatible = "renesas,vsp2";
			reg = <0 0xfea28000 0 0x5000>;
			interrupts = <GIC_SPI 551 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 831>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 831>;

			renesas,fcp = <&fcpvd1>;
		};

		du: display@feb00000 {
			compatible = "renesas,du-r8a779g0";
			reg = <0 0xfeb00000 0 0x40000>;
			interrupts = <GIC_SPI 523 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 524 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 411>,
				 <&cpg CPG_MOD 411>;
			clock-names = "du.0", "du.1";
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			resets = <&cpg 411>;
			vsps = <&vspd0 0>, <&vspd1 0>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					du_out_dsi0: endpoint {
						remote-endpoint = <&dsi0_in>;
					};
				};

				port@1 {
					reg = <1>;
					du_out_dsi1: endpoint {
						remote-endpoint = <&dsi1_in>;
					};
				};
			};
		};

		dsi0: dsi-encoder@fed80000 {
			compatible = "renesas,r8a779g0-mipi-dsi";
			reg = <0 0xfed80000 0 0x10000>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			clocks = <&cpg CPG_MOD 415>,
				 <&cpg CPG_CORE R8A779G0_CLK_DSIEXT>;
			clock-names = "fck", "dsi";
			resets = <&cpg 415>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					dsi0_in: endpoint {
						remote-endpoint = <&du_out_dsi0>;
					};
				};

				port@1 {
					reg = <1>;
					dsi0_out: endpoint {
					};
				};
			};
		};

		dsi1: dsi-encoder@fed90000 {
			compatible = "renesas,r8a779g0-mipi-dsi";
			reg = <0 0xfed90000 0 0x10000>;
			power-domains = <&sysc R8A779G0_PD_ALWAYS_ON>;
			clocks = <&cpg CPG_MOD 416>,
				 <&cpg CPG_CORE R8A779G0_CLK_DSIEXT>;
			clock-names = "fck", "dsi";
			resets = <&cpg 416>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					dsi1_in: endpoint {
						remote-endpoint = <&du_out_dsi1>;
					};
				};

				port@1 {
					reg = <1>;
					dsi1_out: endpoint {
					};
				};
			};
		};

	};

	ref_clk: refclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts-extended = <&gic GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_LOW)>,
				      <&gic GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_LOW)>,
				      <&gic GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_LOW)>,
				      <&gic GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_LOW)>;
	};
};
