// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the Ironhide board
 *
 * Copyright (C) 2025 Renesas Electronics Corp.
 */
/*
 * [How to use Sound]
 *
 * Because R-Car X5H has only 1 SSI connected to the codec,
 * it cannot handle both Playback/Capture at the same time.
 * You need to switch the direction which is controlled
 * by the GP6_21 pin via amixer.
 *
 * Playback (Upper part of CN39)
 *      > amixer set "MUX" "Playback"   // for GP6_21
 *      > amixer set "DAC 1" 85%
 *      > aplay xxx.wav
 *
 * Capture (Lower part of CN39)
 *      > amixer set "MUX" "Capture"    // for GP6_21
 *      > amixer set "Mic 1" 50%
 *      > amixer set "ADC 1" on
 *      > amixer set 'ADC 1' 80%
 *      > arecord xxx hoge.wav
 */

/dts-v1/;
#include "r8a78000.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/ti-dp83869.h>

/ {
	model = "Renesas Ironhide board based on r8a78000";
	compatible = "renesas,ironhide", "renesas,r8a78000";

	aliases {
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
		i2c6 = &i2c6;
		i2c7 = &i2c7;
		i2c8 = &i2c8;
		serial0 = &hscif0;
	};

	chosen {
		bootargs = "ignore_loglevel rw root=/dev/nfs ip=on";
		stdout-path = "serial0:1843200n8";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x80000000>;
	};

	memory@1080000000 {
		device_type = "memory";
		reg = <0x10 0x80000000 0x0 0x80000000>;
	};

	memory@1200000000 {
		device_type = "memory";
		reg = <0x12 0x00000000 0x1 0x00000000>;
	};

	memory@1400000000 {
		device_type = "memory";
		reg = <0x14 0x00000000 0x1 0x00000000>;
	};

	memory@1600000000 {
		device_type = "memory";
		reg = <0x16 0x00000000 0x1 0x00000000>;
	};

	memory@1800000000 {
		device_type = "memory";
		reg = <0x18 0x00000000 0x1 0x00000000>;
	};

	memory@1a00000000 {
		device_type = "memory";
		reg = <0x1a 0x00000000 0x1 0x00000000>;
	};

	memory@1c00000000 {
		device_type = "memory";
		reg = <0x1c 0x00000000 0x1 0x00000000>;
	};

	memory@1e00000000 {
		device_type = "memory";
		reg = <0x1e 0x00000000 0x1 0x00000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ipl0: ipl0@40000000 {
			no-map;
			reg = <0x0 0x40000000 0x0 0x2b800000>;
		};

		frtos_app: frtos_app@6b800000 {
			no-map;
			reg = <0x0 0x6b800000 0x0 0x1f800000>;
		};

		ipl1: ipl1@8b000000 {
			no-map;
			reg = <0x0 0x8b000000 0x0 0x3400000>;
		};

		ldr: ldr@8e400000 {
			no-map;
			reg = <0x0 0x8e400000 0x0 0x100000>;
		};

		cr52_ram0: cr52_ram0@96600000 {
			no-map;
			reg = <0x0 0x96600000 0x0 0x50000>;
		};

		cr52_ram1: cr52_ram1@96650000 {
			no-map;
			reg = <0x0 0x96650000 0x0 0x50000>;
		};

		cr52_ram2: cr52_ram2@966a0000 {
			no-map;
			reg = <0x0 0x966a0000 0x0 0x50000>;
		};

		cr52_ca720_share: cr52_ca720_share@966f0000 {
			no-map;
			reg = <0x0 0x966f0000 0x0 0x7f10000>;
		};

		linux,cma@a2600000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x0 0xa2600000 0x0 0x1da00000>;
			linux,cma-default;
		};

		rt_vram: rt_vram@1200000000 {
			no-map;
			reg = <0x12 0x00000000 0x0 0x18000000>;
		};
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vspm_if {
		compatible = "renesas,vspm_if";
	};

	sound_mux: sound-mux {
		compatible = "simple-audio-mux";
		mux-gpios = <&gpio6 21 GPIO_ACTIVE_HIGH>;
		state-labels = "Playback", "Capture";
	};

	sound_card: sound {
		compatible = "simple-audio-card";

		simple-audio-card,name = "rcar-sound";
		simple-audio-card,aux-devs = <&sound_mux>; // for GP6_21
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&sndcpu>;
		simple-audio-card,frame-master = <&sndcpu>;

		sndcodec: simple-audio-card,codec {
			sound-dai = <&ak4619>;
		};

		sndcpu: simple-audio-card,cpu {
			sound-dai = <&rcar_sound>;
		};
	};
};

&audio_clk_a {
	clock-frequency = <24576000>;
};

&mailbox {
	status = "okay";
};

&eth_pcs {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@4 {
			reg = <4>;
			phys = <&mp_phy 2 0>;
		};

		port@5 {
			reg = <5>;
			phys = <&mp_phy 2 1>;
		};
	};
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-1 = <&mmc0_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	bus-width = <8>;
	no-sd;
	no-sdio;
	non-removable;
	full-pwr-cycle-in-suspend;
	status = "okay";
};

&extal_clk {
	clock-frequency = <16666666>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&gpio6 {
	audio-power-hog {
		gpio-hog;
		gpios = <20 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "Audio-Power";
	};
};

&hscif0 {
	pinctrl-0 = <&hscif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	/* Please use exclusively to the scif0 node */
	status = "okay";
};

&scif_clk {
	clock-frequency = <26000000>;
};

&gpio10 {
	pcie0_clkreq {
		gpio-hog;
		gpios = <12 1>;
		output-high;
	};
};

&gpio4 {
	pcie60_clkreq {
		gpio-hog;
		gpios = <14 1>;
		output-high;
	};

	pcie61_clkreq {
		gpio-hog;
		gpios = <15 1>;
		output-high;
	};

};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <100000>;

	eeprom@50 {
		compatible = "rohm,br24g01", "atmel,24c01";
		reg = <0x50>;
		pagesize = <8>;
	};
};

&mfis {
	renesas,mfis-channels = <1>;
	status = "okay";
};

&cr52_rproc1 {
	memory-region = <&cr52_ram1>;
	status = "okay";
};

&rpmsg_shm0 {
	status = "okay";
};

&rpmsg_ipi0 {
	status = "okay";
};

&cmt0 {
	status = "okay";
};

&cmt1 {
	status = "okay";
};

&cmt2 {
	status = "okay";
};

&cmt3 {
	status = "okay";
};

&tmu0 {
	status = "okay";
};

&tmu1 {
	status = "okay";
};

&tmu2 {
	status = "okay";
};

&tmu3 {
	status = "okay";
};

&tmu4 {
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;
};

&i2c6 {
	pinctrl-0 = <&i2c6_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	ak4619: codec@10 {
		compatible = "asahi-kasei,ak4619";
		#sound-dai-cells = <0>;
		reg = <0x10>;
		clocks = <&rcar_sound>;
		clock-names = "mclk";
	};
};

&i3c0 {
	pinctrl-0 = <&i3c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	sensor@72 {
		compatible = "null";
		reg = <0x72 0x0 0x10>;
	};
};

&mp_phy {
	status = "okay";
};

&pfc {
	eth25g2_pins: eth25g2 {
		groups = "eth25g2_mdio", "eth25g2_link", "eth25g2_phyint";
		function = "eth25g2";
		drive-strength = <24>;
	};

	ethes0_pins: ethes0 {
		groups = "ethes0_match", "ethes0_capture", "ethes0_pps";
		function = "ethes0";
		drive-strength = <24>;
	};

	hscif0_pins: hscif0 {
		groups = "hscif0_data", "hscif0_ctrl";
		function = "hscif0";
	};

	i2c0_pins: i2c0 {
		groups = "i2c0";
		function = "i2c0";
	};

	i2c1_pins: i2c1 {
		groups = "i2c1";
		function = "i2c1";
	};

	i2c6_pins: i2c6 {
		groups = "i2c6";
		function = "i2c6";
	};

	i3c0_pins: i3c0 {
		groups = "i3c0";
		function = "i3c0";
	};

	i3c1_pins: i3c1 {
		groups = "i3c1";
		function = "i3c1";
	};

	i3c2_pins: i3c2 {
		groups = "i3c2";
		function = "i3c2";
	};

	rsw3_pins: rsw3 {
		groups = "rsw3_match", "rsw3_capture", "rsw3_pps";
		function = "rsw3";
		drive-strength = <24>;
	};

	pcie40_pins: pcie40 {
		groups = "pcie40_clkreq_n";
		function = "pcie4";
	};

	msiof0_pins: msiof0 {
		groups = "msiof0_clk", "msiof0_sync", "msiof0_txd", "msiof0_rxd",
			"msiof0_ss1", "msiof0_ss2";
		function = "msiof0";
	};

	msiof6_pins: msiof6 {
		groups = "msiof6_clk_a", "msiof6_txd_a", "msiof6_rxd_a",
			"msiof6_ss1_a", "msiof6_ss2_a";
		function = "msiof6";
	};

	usb30_pins: usb0 {
		groups = "usb0_vbus", "usb0";
		function = "usb0";
	};

	usb20_pins: usb1 {
		groups = "usb1_vbus", "usb1";
		function = "usb1";
	};

	usb31_pins: usb2 {
		groups = "usb2_vbus", "usb2";
		function = "usb2";
	};

	usb21_pins: usb3 {
		groups = "usb3_vbus", "usb3";
		function = "usb3";
	};

	rpc_pins: rpc {
		groups = "rpc_clk2", "rpc_ctrl", "rpc_data",
			 "rpc_reset", "rpc_int";
		function = "rpc";
	};

	mmc0_pins: mmc0 {
		groups = "mmc0_data8", "mmc0_ctrl", "mmc0_ds";
		function = "mmc0";
		drive-strength = <24>;
	};

	canfd0_pins: canfd0 {
		groups = "canfd0_data";
		function = "canfd0";
	};

	canfd1_pins: canfd1 {
		groups = "canfd1_data";
		function = "canfd1";
	};

	canfd2_pins: canfd2 {
		groups = "canfd2_data";
		function = "canfd2";
	};

	canfd3_pins: canfd3 {
		groups = "canfd3_data";
		function = "canfd3";
	};

	canfd4_pins: canfd4 {
		groups = "canfd4_data";
		function = "canfd4";
	};

	canfd5_pins: canfd5 {
		groups = "canfd5_data";
		function = "canfd5";
	};

	canfd6_pins: canfd6 {
		groups = "canfd6_data";
		function = "canfd6";
	};

	canfd7_pins: canfd7 {
		groups = "canfd7_data";
		function = "canfd7";
	};

	canfd8_pins: canfd8 {
		groups = "canfd8_data";
		function = "canfd8";
	};

	canfd9_pins: canfd9 {
		groups = "canfd9_data";
		function = "canfd9";
	};

	canfd10_pins: canfd10 {
		groups = "canfd10_data";
		function = "canfd10";
	};

	canfd11_pins: canfd11 {
		groups = "canfd11_data";
		function = "canfd11";
	};

	canfd12_pins: canfd12 {
		groups = "canfd12_data_b";
		function = "canfd12";
	};

	canfd13_pins: canfd13 {
		groups = "canfd13_data_b";
		function = "canfd13";
	};

	canfd14_pins: canfd14 {
		groups = "canfd14_data_b";
		function = "canfd14";
	};

	canfd15_pins: canfd15 {
		groups = "canfd15_data_b";
		function = "canfd15";
	};

	canxl0_pins: canxl0 {
		groups = "canxl0_data";
		function = "canxl0";
	};

	canxl1_pins: canxl1 {
		groups = "canxl1_data";
		function = "canxl1";
	};

	sound_pins: sound {
		groups = "ssi5_ctrl", "ssi5_data";
		function = "ssi5";
	};

	sound_clk_pins: sound_clk {
		groups = "audio_clk_a_a", "audio0_clkout0";
		function = "audio_clk";
	};
};

&rpc {
	pinctrl-0 = <&rpc_pins>;
	pinctrl-names = "default";

	status = "okay";

	flash@0 {
		compatible = "cypress,hyperflash", "cfi-flash";
		reg = <0>;
		spi-max-frequency = <160000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			boot@0 {
				reg = <0x0 0x1200000>;
				read-only;
			};

			user@2780000 {
				reg = <0x2780000 0x01880000>;
			};
		};
	};
};

&pciec40 {
	status = "okay";
	phys = <&mp_phy 0 1>;
};

&pciec60 {
	status = "okay";
};

&pciec60_ep {
	status = "disabled";
};

&pciec61 {
	status = "disabled";
};

&pciec61_ep {
	status = "disabled";
};

&rcar_sound {
	pinctrl-0 = <&sound_clk_pins>, <&sound_pins>;
	pinctrl-names = "default";

	/* Single DAI */
	#sound-dai-cells = <0>;

	/* audio_clkout0/1/2/3 */
	#clock-cells = <0>;

	/* audio_clkout */
	clock-frequency = <12288000>;

	status = "okay";

	rcar_sound,dai {
		dai0 {
			playback = <&ssi5>;
			capture = <&ssi5>;
		};
	};
};

&rsw3_clk {
	clock-frequency = <66660000>;
};

&rswitch3 {
	status = "okay";
	pinctrl-0 = <&rsw3_pins>, <&eth25g2_pins>, <&ethes0_pins>;
	pinctrl-names = "default";

	ethernet-ports {
		#address-cells = <1>;
		#size-cells = <0>;

		// TODO: Add more ports (e.g., port@0, port@1) as needed
		port@4 {
			reg = <4>;
			renesas,etha-mii-chan = <4>;
			phy-handle = <&q32xx_phy>;
			phy-mode = "usxgmii";
			phys = <&eth_pcs 4>;
			max-speed = <10000>;

			mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				q32xx_phy: ethernet-phy@1 {
					reg = <1>;
					compatible = "ethernet-phy-ieee802.3-c45";
				};
			};
		};

		port@5 {
			reg = <5>;
			renesas,etha-mii-chan = <4>;
			renesas,connect_to_xpcs;
			phy-handle = <&dp83869_phy>;
			phy-mode = "sgmii";
			phys = <&eth_pcs 5>;

			mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				dp83869_phy: ethernet-phy@2 {
					reg = <2>;
					ti,sgmii-interface;
					ti,max-output-impedance;
					ti,refclk-output-enable;
					ti,clk-output-sel = <DP83869_CLK_O_SEL_REF_CLK>;
				};
			};
		};

		/* Example stub for future ports */
		//	port@5 {
		//	reg = <5>;
		//	phy-handle = <&mv_phy5>;
		//	phy-mode = "usxgmii";
		//	local-mac-address = [xx xx xx xx xx xx];
		//	phys = <&eth_pcs X>;
		//	...
		// };
	};
};

&usb30 {
	status = "okay";
	pinctrl-0 = <&usb30_pins>;
	pinctrl-names = "default";
	phys = <&mp_phy 3 0>;
	phy-names = "usb3-phy";

	dwc3_usb30@c8800000 {
		compatible = "synopsys,dwc3";
		reg = <0x0 0xc8800000 0x0 0x100000>;
		interrupts = <GIC_SPI 795 IRQ_TYPE_LEVEL_HIGH>;
		maximum-speed = "super-speed-plus";
		dr_mode = "host";
	};
};

&usb31 {
	status = "okay";
	pinctrl-0 = <&usb31_pins>;
	pinctrl-names = "default";
	phys = <&mp_phy 3 1>;
	phy-names = "usb3-phy";

	dwc3_usb31@c8a00000 {
		compatible = "synopsys,dwc3";
		reg = <0x0 0xc8a00000 0x0 0x100000>;
		interrupts = <GIC_SPI 797 IRQ_TYPE_LEVEL_HIGH>;
		maximum-speed = "super-speed-plus";
		dr_mode = "host";
	};
};

&usb20 {
	status = "okay";
	pinctrl-0 = <&usb20_pins>;
	pinctrl-names = "default";

	dwc3_usb20@c8900000 {
		compatible = "synopsys,dwc3";
		reg = <0x0 0xc8900000 0x0 0x100000>;
		interrupts = <GIC_SPI 796 IRQ_TYPE_LEVEL_HIGH>;
		maximum-speed = "high-speed";
		dr_mode = "host";
	};
};

&usb21 {
	status = "okay";
	pinctrl-0 = <&usb21_pins>;
	pinctrl-names = "default";

	dwc3_usb21@c8b00000 {
		compatible = "synopsys,dwc3";
		reg = <0x0 0xc8b00000 0x0 0x100000>;
		interrupts = <GIC_SPI 798 IRQ_TYPE_LEVEL_HIGH>;
		maximum-speed = "high-speed";
		dr_mode = "host";
	};
};

&rwdt {
	timeout-sec = <60>;
	status = "okay";
};

&wwdt20 {
	interval-time = <7>;
	error-mode = <1>;
	irq_75p = <0>;
	wsize = <3>;

	status = "okay";
};

&crc0 {
	status = "okay";
};

&crc1 {
	status = "okay";
};

&crc2 {
	status = "okay";
};

&crc3 {
	status = "okay";
};

&crc4 {
	status = "okay";
};

&crc5 {
	status = "okay";
};

&crc6 {
	status = "okay";
};

&crc7 {
	status = "okay";
};

&crc8 {
	status = "okay";
};

&crc9 {
	status = "okay";
};

&crc10 {
	status = "okay";
};

&kcrc0 {
	status = "okay";
};

&kcrc1 {
	status = "okay";
};

&kcrc2 {
	status = "okay";
};

&kcrc3 {
	status = "okay";
};

&kcrc4 {
	status = "okay";
};

&kcrc5 {
	status = "okay";
};

&kcrc6 {
	status = "okay";
};

&kcrc7 {
	status = "okay";
};

&kcrc8 {
	status = "okay";
};

&kcrc9 {
	status = "okay";
};

&kcrc10 {
	status = "okay";
};

&wcrc0 {
	status = "okay";
};

&wcrc1 {
	status = "okay";
};

&wcrc2 {
	status = "okay";
};

&wcrc3 {
	status = "okay";
};

&wcrc4 {
	status = "okay";
};

&wcrc5 {
	status = "okay";
};

&wcrc6 {
	status = "okay";
};

&wcrc7 {
	status = "okay";
};

&wcrc8 {
	status = "okay";
};

&wcrc9 {
	status = "okay";
};

&wcrc10 {
	status = "okay";
};

&ufs0 {
	status = "okay";
};

&ufs1 {
	status = "okay";
};

&ufs0_clk {
	clock-frequency = <38400000>;
};

&ufs1_clk {
	clock-frequency = <38400000>;
};

&vspi0 {
	status = "okay";
};

&vspi1 {
	status = "okay";
};

&vspi2 {
	status = "okay";
};

&vspi3 {
	status = "okay";
};

&vspb0 {
	status = "okay";
};

&vspb1 {
	status = "okay";
};

&vspb2 {
	status = "okay";
};

&vspb3 {
	status = "okay";
};

&vspb4 {
	status = "okay";
};

&canfd_0 {
	pinctrl-0 = <&canfd0_pins>, <&canfd1_pins>, <&canfd2_pins>,
		    <&canfd3_pins>, <&canfd4_pins>, <&canfd5_pins>,
		    <&canfd6_pins>, <&canfd7_pins>;
	pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};

	channel2 {
		status = "okay";
	};

	channel3 {
		status = "okay";
	};

	channel4 {
		status = "okay";
	};

	channel5 {
		status = "okay";
	};

	channel6 {
		status = "okay";
	};

	channel7 {
		status = "okay";
	};
};

&canfd_1 {
	pinctrl-0 = <&canfd8_pins>, <&canfd9_pins>, <&canfd10_pins>,
		    <&canfd11_pins>, <&canfd12_pins>, <&canfd13_pins>,
		    <&canfd14_pins>, <&canfd15_pins>;
	pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};

	channel2 {
		status = "okay";
	};

	channel3 {
		status = "okay";
	};

	channel4 {
		status = "okay";
	};

	channel5 {
		status = "okay";
	};

	channel6 {
		status = "okay";
	};

	channel7 {
		status = "okay";
	};
};

&canxl0 {
	pinctrl-0 = <&canxl0_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&canxl1 {
	pinctrl-0 = <&canxl1_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&rtca {
	status = "okay";
};
