// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the R-Car pV4M EMC Board
 *
 * Copyright (C) 2022 Renesas Electronics Corp.
 */

#include <dt-bindings/gpio/gpio.h>

/dts-v1/;
#include "r8a779g0.dtsi"

/ {
	model = "R-Car pV4M EMC Boards based on r8a779g0";
	compatible = "renesas,r8a779g0";

	aliases {
		serial0 = &hscif0;
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x78000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma@80000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x80000000 0x0 0x18000000>;
			linux,cma-default;
		};
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&canfd {
	pinctrl-0 = <&canfd3_pins>, <&canfd5_pins>, <&canfd6_pins>;
	pinctrl-names = "default";

	status = "okay";

	channel3 {
		status = "okay";
	};

	channel5 {
		status = "okay";
	};

	channel6 {
		status = "okay";
	};
};

&extal_clk {
	clock-frequency = <16666600>;
};

&extalr_clk {
	clock-frequency = <16666600>;
};

&hscif0 {
	pinctrl-0 = <&hscif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	/* Please use exclusively to the scif0 node */
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	gvif0: gvif-deserializer@23 {
		compatible = "sony,cxd4960";
		reg = <0x23>, <0x01>;
		gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				cxd4960_in: endpoint {
				};
			};

			port@1 {
				reg = <1>;
				cxd4960_out: endpoint {
					bus-type = <4>;
					clock-lanes = <0>;
					data-lanes = <1 2>;
					remote-endpoint = <&csi41_in>;
				};
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				status = "disabled";
			};
		};
	};
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <1000000>;

	camera: imx728@1a {
		compatible = "sony,imx728";
		reg = <0x1a>;
		gpios = <&gpio7 9 GPIO_ACTIVE_HIGH>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				imx728_out: endpoint {
					bus-type = <4>;
					clock-lanes = <0>;
					data-lanes = <1 2>;
					remote-endpoint = <&csi40_in>;
				};
			};
		};
	};
};

&i2c3 {
	pinctrl-0 = <&i2c3_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;
};

&mmc0 {
	pinctrl-0 = <&mmc_pins>;
	pinctrl-1 = <&mmc_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	bus-width = <8>;
	no-sd;
	no-sdio;
	non-removable;
	full-pwr-cycle-in-suspend;
	status = "okay";
};

&pfc {
	canfd3_pins: canfd3 {
		groups = "canfd3_data";
		function = "canfd3";
	};

	canfd5_pins: canfd5 {
		groups = "canfd5_data";
		function = "canfd5";
	};

	canfd6_pins: canfd6 {
		groups = "canfd6_data";
		function = "canfd6";
	};

	hscif0_pins: hscif0 {
		groups = "hscif0_data", "hscif0_ctrl";
		function = "hscif0";
		power-source = <1800>;
	};

	i2c1_pins: i2c1 {
		groups = "i2c1";
		function = "i2c1";
		power-source = <1800>;
	};

	i2c2_pins: i2c2 {
		groups = "i2c2";
		function = "i2c2";
		power-source = <1800>;
	};

	i2c3_pins: i2c3 {
		groups = "i2c3";
		function = "i2c3";
		power-source = <1800>;
	};

	mmc_pins: mmc {
		groups = "mmc_data8", "mmc_ctrl", "mmc_ds";
		function = "mmc";
		power-source = <1800>;
	};

	qspi0_pins: qspi0 {
		groups = "qspi0_ctrl", "qspi0_data4";
		function = "qspi0";
		power-source = <1800>;
	};

	qspi1_pins: qspi1 {
		groups = "qspi1_ctrl", "qspi1_data4";
		function = "qspi1";
		power-source = <1800>;
	};

	msiof1_pins: msiof1 {
		groups = "msiof1_clk", "msiof1_sync", "msiof1_ss1", "msiof1_ss2", "msiof1_txd", "msiof1_rxd";
		function = "msiof1";
		power-source = <1800>;
	};

	msiof3_pins: msiof3 {
		groups = "msiof3_clk", "msiof3_sync", "msiof3_ss1", "msiof3_ss2", "msiof3_txd", "msiof3_rxd";
		function = "msiof3";
		power-source = <1800>;
	};

	msiof5_pins: msiof5 {
		mux {
			groups = "msiof5_clk", "msiof5_rxd";
			function = "msiof5";
			power-source = <3300>;
		};

		clk {
			groups = "msiof5_clk";
			drive-strength = <21>;
		};

		rxd {
			groups = "msiof5_rxd";
			bias-pull-down;
		};
	};

	pwm1_pins: pwm1 {
		groups = "pwm1";
		function = "pwm1";
	};

	pwm3_pins: pwm3 {
		groups = "pwm3";
		function = "pwm3";
		power-source = <1800>;
	};
};

&gpio1 {
	des_ce {
		gpio-hog;
		gpios = <0 GPIO_ACTIVE_HIGH>;
		bias-disable;
		output-low;
		drive-strength = <21>;
		power-source = <1800>;
		line-name = "DES_CE";
	};
};

&gpio2 {
	lcanstb_mon {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_HIGH>;
		bias-pull-up;
		input;
		power-source = <3300>;
		line-name = "LCANSTB_MON";
	};

	gcanstb {
		gpio-hog;
		gpios = <12 GPIO_ACTIVE_HIGH>;
		bias-disable;
		output-low;
		drive-strength = <21>;
		power-source = <3300>;
		line-name = "GCANSTB";
	};
};

&gpio4 {
	gcanstb_mon {
		gpio-hog;
		gpios = <23 GPIO_ACTIVE_HIGH>;
		bias-pull-down;
		input;
		power-source = <3300>;
		line-name = "GCANSTB_MON";
	};

	gcan_en {
		gpio-hog;
		gpios = <21 GPIO_ACTIVE_HIGH>;
		bias-pull-down;
		output-low;
		drive-strength = <21>;
		power-source = <3300>;
		line-name = "GCAN_EN";
	};
};

&gpio7 {
	xclr {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_HIGH>;
		bias-disable;
		output-low;
		drive-strength = <21>;
		power-source = <1800>;
		line-name = "X_CLR";
	};

	xerr {
		gpio-hog;
		gpios = <18 GPIO_ACTIVE_HIGH>;
		bias-pull-up;
		input;
		power-source = <1800>;
		line-name = "X_ERR";
	};
};

&rpc {
	pinctrl-0 = <&qspi0_pins>, <&qspi1_pins>;
	pinctrl-names = "default";

	status = "okay";

	flash@0 {
		compatible = "micron-st,mt35xu512aba", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		spi-rx-bus-width = <8>;
		spi-tx-bus-width = <8>;
	};
};

&msiof1 {
	pinctrl-0 = <&msiof1_pins>;
	pinctrl-names = "default";

	status = "okay";
	assigned-clock-rates = <100000000>;

	slavedev {
		compatible = "maker,slavedev";
		reg = <0>;
		spi-max-frequency = <25000000>;
	};
};

&msiof3 {
	pinctrl-0 = <&msiof3_pins>;
	pinctrl-names = "default";

	status = "okay";
	assigned-clock-rates = <100000000>;

	slavedev {
		compatible = "maker,slavedev";
		reg = <0>;
		spi-max-frequency = <25000000>;
	};
};

&msiof5 {
	pinctrl-0 = <&msiof5_pins>;
	pinctrl-names = "default";

	status = "okay";
	assigned-clock-rates = <100000000>;

	cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;

	dummy_adc@0 {
		compatible = "dummy,adc";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
};

&pwm1 {
	pinctrl-0 = <&pwm1_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&pwm3 {
	pinctrl-0 = <&pwm3_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&csi40 {
	compatible = "renesas,pv4m-emc-csi2", "generic-uio";
	status = "okay";
	data-rate = <2142000000>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi40_in: endpoint {
				bus-type = <4>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&imx728_out>;
			};
		};

		port@1 {
			#address-cells = <1>;
			#size-cells = <0>;

			reg = <1>;

			csi40vin0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&vin0csi40>;
			};
			csi40vin1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&vin1csi40>;
			};
		};
	};
};

&csi41 {
	compatible = "renesas,pv4m-emc-csi2", "generic-uio";
	status = "okay";
	data-rate = <800000000>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi41_in: endpoint {
				bus-type = <4>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&cxd4960_out>;
			};
		};

		port@1 {
			#address-cells = <1>;
			#size-cells = <0>;

			reg = <1>;

			csi41vin8: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&vin8csi41>;
			};
		};
	};
};

&isp0 {
	compatible = "renesas,isp-pv4m-emc";
	renesas,emb8 = <1>;
};

&isp1 {
	compatible = "renesas,isp-pv4m-emc";
	renesas,emb8 = <0>;
};

&vin00 {
	compatible = "renesas,vin-pv4m-emc", "generic-uio";
	status = "okay";
};

&vin01 {
	compatible = "renesas,vin-pv4m-emc", "generic-uio";
	status = "okay";
};

&vin02 {
	status = "disabled";
};

&vin03 {
	status = "disabled";
};

&vin10 {
	compatible = "renesas,vin-pv4m-emc", "generic-uio";
	status = "okay";
};

&vin11 {
	status = "disabled";
};

&vin12 {
	status = "disabled";
};

&vin13 {
	status = "disabled";
};

/* DMC Overlay */
#include "pv4m-emc-gvif.dtsi"

#include "r8a779g0-pv4m-emc-control.dtsi"
