
config EMC_BZ
	tristate "EMC Buzzer control driver"
	depends on ARCH_RENESAS || COMPILE_TEST
	default y

config EMC_HT
	tristate "EMC Heater control driver"
	depends on ARCH_RENESAS || COMPILE_TEST
	default y

config EMC_IG
	tristate "EMC IG_DET control driver"
	depends on ARCH_RENESAS || COMPILE_TEST
	default y

config EMC_DSM
	tristate "EMC DSM control driver"
	depends on ARCH_RENESAS || COMPILE_TEST
	default y

config EMC_DATA
	tristate "EMC DATA interface driver"
	depends on ARCH_RENESAS || COMPILE_TEST
	default y

config EMC_TEMP
	tristate "EMC TEMPERATURE interface driver"
	depends on ARCH_RENESAS || COMPILE_TEST
	default y
